[2013-10-08 01:33] jerrykil opened #1 "Not compiling on Mac OS X 10.9 Mavericks"
It stops here:
[ 44%] Building CXX object src/CMakeFiles/plist++.dir/Dictionary.cpp.o
/Volumes/HDD/Downloads/libplist-1.8/build/libplist/src/Dictionary.cpp:154:12: error: no matching conversion for functional-style cast from 'long' to 'iterator'
      (aka '__map_iterator<typename __base::iterator>')
    return iterator(NULL);
           ^~~~~~~~~~~~~
/Applications/Xcode.app/Contents/Developer/Too

[2013-11-12 13:50] #1 closed, assigned to nobody

[2014-01-25 06:11] Tatsh opened #7 "Not possible to do out of source build"
Steps to reproduce:

[code]

Output:

[code]

This is considered a bug most of the time. By default Gentoo with autotools wants to build out of source. The `AUTOTOOLS_IN_SOURCE_BUILD` variable is only there for this particular bug.

[2014-01-28 23:08] tbdills opened #8 "Cannot build on Mac with OSX 10.8.5"
First, following the build steps, cmake fails:
CMake Error: The source directory "/Users/me/Desktop/project/libplist-master" does not appear to contain CMakeLists.txt.

Second, when I run ./autogen.sh I get errors about libxml2 (which I have and I believe I have the proper symbolic links:
checking how to hardcode library paths into programs... immediate
./configure: line 15358: syntax error near u

[2014-03-08 11:55] giorgix3 opened #11 "Can't build under OSX 10.9"
When compiling I get this
checking whether make supports nested variables... (cached) yes
checking that generated files are newer than configure... done
configure: creating ./config.status
config.status: creating Makefile
config.status: error: cannot find input file: `libcnary/Makefile.in'

I tried downloading libcnary and compiling it alone, but no luck. Any idea?

[2014-03-08 13:43] #11 closed, assigned to nobody

[2014-03-20 10:18] #7 closed, assigned to nobody

[2014-03-27 07:24] dnsBlah opened #12 "Cannot 'make'"
I'm having errors while doing 'sudo make'

a lot warnings about shadowed declarations

and 2 errors:
make[2]: **\* [xplist.lo] Error 1
make[1]: *\* [all-recursive] Error 1
make: **\* [all] Error 2

Anyone has any idea how to fix this?

cheers!

[2014-03-27 10:34] hyperair opened #13 "endian detection is broken with 1.11"
On debian-mips, which is big-endian, PLIST_BYTE_ORDER is set to PLIST_LITTLE_ENDIAN, which results in 6 of the tests failing, as per https://buildd.debian.org/status/package.php?p=libplist.

I suspect this is the same for sparc and s390x. I've got a patch working for this. I'll submit a pull request for this and the others once I hammer down the other 5 test failures..

[2014-03-27 10:36] hyperair opened #14 "conversion between bin and xml format is dependent on timezone"
[code]

[2014-03-27 10:43] hyperair opened #15 "Integers are truncated on mips when converting between bin and xml format"
The test emptycmp fails because 2.plist.out on mips shows <integer>2369772560</integer> instead of <integer>32434543632</integer>.

It's truncated at a 32-bit boundary, so it's probably an integer size issue.

The issue is in plist_to_bin() rather than plist_from_bin(), because doing the xml->bin conversion on amd64 and then using that bin file for converting back to xml on mips succeeds (except f

[2014-03-29 08:34] #15 closed, assigned to nobody

[2014-03-29 15:11] #13 closed, assigned to nobody

[2014-04-01 15:38] #14 closed, assigned to nobody

[2014-04-26 05:29] BigBambino91 opened #21 "Having problem with Make && Make install"
I'm trying to install idevicerestore but it keeps telling me that my libplist-1.11 is 1.10 and my libusbmuxd 1.0.8 and needs to be 1.0.9. I downloaded the correct versions, after I ./configure I then try to make the file and it gives me errors. starting with the libplist-1.11 it gives me this error:

config.status: creating doxygen.cfg
config.status: creating config.h
config.status: config.h is un

[2014-04-27 08:21] davidgn opened #22 "Trouble building OS X 10.7.5"
Trying to build in order to satisfy dependencies for libirecovery. This is the result:

Davids-Mac-Pro:libplist davidgn$ sudo ./autogen.sh
glibtoolize: putting macros in AC_CONFIG_MACRO_DIR, `m4'.
glibtoolize: linking file`m4/libtool.m4'
glibtoolize: linking file `m4/ltoptions.m4'
glibtoolize: linking file`m4/ltsugar.m4'
glibtoolize: linking file `m4/ltversion.m4'
glibtoolize: linking file`m4/lt~o

[2014-05-03 18:14] thinkpad20 opened #23 "Trouble building on Ubuntu 13.10"
Trying to build on Ubuntu 13.10. I get this error:

[code]

However, when I try to install libxml2, it seems that it already is:

[code]

What's going on here?

[2014-05-05 19:16] #23 closed, assigned to nobody

[2014-05-09 09:10] xdeng opened #25 "plist_from_bin plist_to_xml time is not accurate"
plist_from_bin plist_to_xml  date time  is not accurate

and plist_from_xml   plist_to_bin date time  is not accurate

///////////////////////////////////////////////////////////////////////////////////////////////////////////////

plist_from_bin get date val = 419855442  = 1983 4 22   pm 6:30:42

but the correct value is 1398133842 = 2014 04 22 am 10:30:42

1398133842 - 419855442  = 978278400

My

[2014-05-09 09:22] xdeng opened #26 "<integer>-1</integer> about uint64_t"
plist_form_xml

xplist.c 378 line     data->intval = strtoull((char*)strval, NULL, 0);

if strval == -1
data->intval == 18446744073709551615

but

plist_to_xml

xplist.c 185 line (void)snprintf(val, 64, "%"PRIu64, node_data->intval);

node_data->intval == 18446744073709551615
so  val == "18446744073709551615"
val != strval

Different from the original

[2014-05-09 10:06] xdeng opened #27 "我建议增加一个 libplist_free(void *ptr); 函数"
我建议增加一个 libplist_free(void *ptr); 函数  用来 free libplist 内部 malloc 生成的指针。

因为debug free  和 release free 不一样。

[2014-05-12 02:43] xdeng opened #28 "plist_t plist_new_key should export"
plist.c  105  static plist_t plist_new_key(const char *val);

in array  use

example

book mark plist

[2014-05-20 15:49] #22 closed, assigned to nobody

[2014-05-20 17:04] #28 closed, assigned to FunkyM

[2014-05-20 19:00] #12 closed, assigned to nobody

[2014-05-23 09:02] #27 closed, assigned to nobody

[2014-05-23 09:03] #26 closed, assigned to nobody

[2014-05-24 19:28] my1es opened #29 "SIGSEGV in strlen"
Under some circumstances, (I've only tested with one device, iPhone 5 iOS 7.1.1) there is a call to `strlen` with a null pointer. Seems odd that `strlen(NULL)` doesn't just report a length of zero with all versions of libc, but whatever.

[2014-05-27 11:02] GOBIM opened #31 "Issue on Library not loaded: /usr/local/lib/libplist.1.1.10.dylib"
I am trying to run this and get the following error.
$ios_webkit_debug_proxy
dyld: Library not loaded: /usr/local/lib/libplist.1.1.10.dylib
  Referenced from: /usr/local/bin/ios_webkit_debug_proxy
  Reason: image not found
Trace/BPT trap: 5
Note: I have installed libplist from  $git clone http://git.sukimashita.com/libplist.git
Please suggest me how to fix this? It prevents to start proxy

[2014-06-12 08:58] skortela opened #32 "compile/link error on MinGW32 (win7)"
I'm trying to build libplist 1.11 using MinGW on Windows7, however I got linker errors:
undefined reference to `__gxx_personality_v0'

building succeeds on libplist 1.8 ( without autoconf changes ).

How to solve this?

autogen works ok:
./autogen.sh LDFLAGS="-L/c/Python27_32/libs" -prefix=/mingw

make fails:
$ make
make  all-recursive
make[1]: Entering directory `/c/projects/Trunk/externals/sourc

[2014-06-22 23:07] borisovg opened #33 "ifuse segfault (strlen related)"
Hello,

I get this segfault when trying to use ifuse to mount my iPhone 5c:

[code]

I originally opened this against the libimobliedevice package, but now I think it might be related to libplist instead (and possibly a dupe of #29 although I don't see any mention of NULL pointers and I don't know enough about C to know where to look).

I have compiled libimobliedevice, libplist and ifuse from sou

[2014-07-08 18:18] MMachor opened #36 "Compile Error"
I am having the following issue when running make on the libplist.  ./autogen.sh --without-cython completes successfully, but then I encounter this when I run make.  This is on a WIndows 7 machine using MinGW-32 as the cross compiler.  Any help appreciated.

![error](https://cloud.githubusercontent.com/assets/5774228/3514450/2a8e7c94-06cc-11e4-8674-ba3c834ed0e6.png)

[2014-07-19 21:52] yegle opened #37 "Compatibility for old gcc"
From GCC 4.5 changelog https://gcc.gnu.org/gcc-4.5/changes.html

I'm still using the GCC that released by Apple http://www.opensource.apple.com/source/gcc/gcc-5666.3/ which is version 4.2.1, and unfortunately this caused error message like this:

[2014-07-19 21:56] #37 closed, assigned to nobody

[2014-08-02 21:18] elfring opened #38 "reserved identifier violation"
I would like to point out that identifiers like "[`PLIST__DICTIONARY_H`](https://github.com/libimobiledevice/libplist/blob/1317925ffc18a1fd669e8d008de404a8429ea3cf/include/plist/Dictionary.h#L22)" and "[`PLIST__UID_H`](https://github.com/libimobiledevice/libplist/blob/553c3849207a29abd1cb58f82d5994e5cd9d1f2d/include/plist/Uid.h#L22)" [do not fit](https://www.securecoding.cert.org/confluence/displa

[2014-08-05 23:33] #25 closed, assigned to nobody

[2014-08-05 23:50] #38 closed, assigned to nobody

[2014-08-18 12:42] xdeng opened #41 "Location of deprecation macro (was: 位置放错了)"
include/plist/plist.h  364

PLIST_API void plist_dict_insert_item(plist_t node, const char\* key, plist_t item) PLIST_WARN_DEPRECATED("use plist_dict_set_item instead");

Should be changed

PLIST_WARN_DEPRECATED("use plist_dict_set_item instead") PLIST_API void plist_dict_insert_item(plist_t node, const char\* key, plist_t item);

[2014-08-18 23:37] #33 closed, assigned to nobody

[2014-08-18 23:39] #29 closed, assigned to nobody

[2014-09-19 21:40] elfring opened #44 "Use of angle brackets around file names for include statements"
Would you like to [replace any double quotes](https://github.com/libimobiledevice/libplist/blob/553c3849207a29abd1cb58f82d5994e5cd9d1f2d/include/plist/plist%2B%2B.h#L25) by [angle brackets around file names for include statements](http://stackoverflow.com/questions/21593/what-is-the-difference-between-include-filename-and-include-filename)?

[2014-09-23 11:43] xdeng opened #45 "plist_form_bin crashes"
demo file  http://xdeng.cn/file/InfoPlist.strings

plist_form_bin crashes  in bplist.c 729 line

/////////////////////////////////////
node_t\* node = (node_t_)nodeslist[i];
 if (NODE_IS_ROOT(node)) {           //if node = NULL  crashes
            plist_free(node);
  }
/////////////////////////////////////
Modified to
node_t_ node = (node_t*)nodeslist[i];
 if (node && NODE_IS_ROOT(node)) {

[2014-09-23 15:53] #45 closed, assigned to nobody

[2014-09-24 17:05] haroldSanchezb opened #46 "Autogen.sh fail: cannot find input file: `Makefile.in'"
When i execute ./autogen.sh i getting this error:
config.status: error: cannot find input file: `Makefile.in'

[2014-09-26 20:42] #41 closed, assigned to nobody

[2014-10-09 07:56] xdeng opened #47 "about bplist00 double key"
src file:
http://xdeng.cn/file/Info.plist

xcode parse result:
http://xdeng.cn/file/20141009154746.jpg

libplist parse result:
http://xdeng.cn/file/20141009154840.jpg

i think xcode is more suitable.

[2014-10-09 23:55] #47 closed, assigned to nobody

[2014-10-09 23:55] #46 closed, assigned to nobody

[2014-10-22 00:26] #8 closed, assigned to nobody

[2014-10-22 17:31] campd opened #48 "COPYING file includes GPL"
There's a GPL COPYING file in addition to the LGPL COPYING.LESSER file in the root directory.
It looks like all the source files are LGPLed.  Is the GPL inclusion a mistake, or are there pieces of code I missed that are GPLed here?

[2014-11-02 19:17] aburgh opened #50 "Crash when replacing a value in a C++ Dictionary"
The following program will crash in the second `Set()` call.
[code]

The Set function is:
[code]
The crash occurs at `delete _map[key];` The crash occurs because `plist_dict_set_item` deletes the plist_t node which the containing Node object then tries to delete when it is deleted. I tried the following change to the Node destructor, where `plist_free` is called only when the Node is not member of

[2014-11-02 21:44] #44 closed, assigned to nobody

[2014-11-14 16:58] tarrenj opened #51 "Fatel error: 'libxml/parser.h' file not found"
Issue when running make:

"
/Applications/Xcode.app/Contents/Developer/usr/bin/make  all-recursive
Making all in libcnary
make[2]: Nothing to be done for `all'.
Making all in src
  CC       xplist.lo
xplist.c:32:10: fatal error: 'libxml/parser.h' file not found
# include <libxml/parser.h>

[code]

1 error generated.
make[2]: **\* [xplist.lo] Error 1
make[1]: **\* [all-recursive] Error 1
make: **\*

[2014-11-14 17:28] #51 closed, assigned to nobody

[2014-12-20 08:46] antonkukoba opened #53 "plist_from_bin() crashes trying to access already freed memory"
For some reason it tries to copy node data which was already freed. The plist file which causes such behavior can be downloaded here: http://www.filedropper.com/history_2
Environment: windows 7 x86, libplist 1.12 compiled with MS VC.
The problem is not reproduced when running in Debug, since memory data appears to be valid even though it's marked as 'freed'.
The best way to reproduce the problem i

[2015-01-16 16:51] qmfrederik commented on #36
Hi,

We got libimobiledevice to compile on Windows using MinGW. Since a lot of people seem to have issues compiling it, we've created a binary distribution of MinGW for Windows.

You can find the binary files [here](http://quamotion.mobi/iMobileDevice/Download)

If you want to compile from source yourself, you can download all the packages with the source files from [our website](http://quamotion.

[2015-01-16 16:51] qmfrederik commented on #32
Hi,

We got libimobiledevice to compile on Windows using MinGW. Since a lot of people seem to have issues compiling it, we've created a binary distribution of MinGW for Windows.

You can find the binary files [here](http://quamotion.mobi/iMobileDevice/Download)

If you want to compile from source yourself, you can download all the packages with the source files from [our website](http://quamotion.

[2015-01-19 17:57] ivamluz commented on #21
Hi,

I'm facing the same issue. Any luck there?

Thanks,
Ivam

[2015-01-27 19:50] nikias commented on #53
Can you upload the file to a different location? The link you provided seems invalid.

[2015-01-28 11:51] antonkukoba commented on #53
Yes, here you go http://s000.tinyupload.com/index.php?file_id=37337952407586518483

[2015-01-29 19:41] FunkyM commented on #21
@ivamluz You are facing the same issue with libplist-1.11? Please try git master HEAD which is at 1.13.0 and please share what platform you are compiling on.

[2015-01-30 22:27] copumpkin opened #55 "Support old openstep plist format"
It's a lot more readable as an output format than the XML plist, and Mac OS can read it just fine. It's even the default format for XCode project specifications, oddly enough!

Not sure if that's a compelling reason to implement a whole other format, but it's a nice format :smile:

[2015-01-31 19:25] nikias commented on #53
Fixed in git master.

[2015-01-31 19:25] #53 closed

[2015-02-03 17:40] tarunsujit commented on #31
@GOBIM are u able to fix this?

[2015-02-06 08:12] kani19 commented on #31
is it fixed ?

[2015-02-06 11:35] nikias commented on #31
This is not a support forum, and this is not a bug in libplist. The error message already says "image not found" meaning there is no file ```/usr/local/lib/libplist.1.1.10.dylib``` so libplist is not correctly installed. Make sure to compile and install all required libraries and tools from scratch according to the build instructions.

[2015-02-06 11:35] #31 closed

[2015-02-14 01:45] xdeng opened #56 "win32: bug in date conversion due to time_t and gmtime not working with dates before Jan 1st, 1970"
demo file http://xdeng.cn/file/time2.plist

mac parse  1931-02-12

libplist  Can't parse

[2015-02-15 00:21] nikias commented on #56
@xdeng have you tested with latest git HEAD? It works correctly for me.

[2015-03-03 06:35] xdeng commented on #56
@nikias The latest version also can not be resolved        You try demo file http://xdeng.cn/file/time2.plist

[2015-03-03 09:25] xdeng opened #57 "xmlParseMemory collapse"
xmlCleanupCharEncodingHandlers();
xmlDictCleanup();
xmlResetLastError();
xmlCleanupGlobals();
xmlCleanupThreads();
xmlCleanupMemory();

Multithreading will collapse

[2015-03-03 10:37] nikias commented on #56
This is the output I get:
[code]
Looks correct to me.

[2015-03-04 03:03] xdeng commented on #56
@nikias  Your machine is 64 bit ????

[2015-03-04 03:40] xdeng commented on #56
plist_t plist_new_date(int32_t sec, int32_t usec);   change plist_t plist_new_date(int64_t sec, int64_t usec); ??????????

[2015-03-04 09:18] xdeng commented on #56
in xplist.c 232 line

The Windows version

struct tm *gmtime(
   const time_t *timer
);
If timer represents a date before midnight, January 1, 1970, gmtime returns NULL.

so 1931 year can't parse

[2015-03-04 17:37] nikias commented on #56
I see the problem. Not sure yet how we should solve this across platforms though.

[2015-03-16 13:04] zcc1414 opened #58 "I can't install libplist--mac os"
./autogen.sh
Configuration for libplist 1.13.0:
-------------------------------------------
  Install prefix: .........: /usr/local
  Python bindings .........: no
  Now type 'make' to build libplist 1.13.0,
  and then 'make install' for installation.

and
sudo make install
...
libtool: install: ranlib /usr/local/lib/libplist++.a
 /opt/local/bin/gmkdir -p '/usr/local/lib/pkgconfig'
 /opt/local/bin

[2015-03-16 13:24] nikias commented on #58
This looks like a successful installation. Check if you have ```libplist*.dylib``` in ```/usr/local/lib/```

[2015-03-16 13:28] zcc1414 commented on #58
I  have libplist*.dylib in /usr/local/lib/
ls /usr/local/lib/libplist
libplist++.3.dylib*  libplist++.a         libplist++.dylib@    libplist++.la*       libplist.3.dylib*    libplist.a
but  when I combile libusbmuxd

libusbmuxd git:(master) ✗ ./autogen.sh
....
checking for libplist... no
configure: error: Package requirements (libplist >= 1.11) were not met:

No package 'libplist' found

Consider

[2015-03-16 14:00] nikias commented on #58
The output already says what to do:
```PKG_CONFIG_PATH=/usr/local/lib/pkgconfig ./autogen.sh```

[2015-03-16 14:39] nikias commented on #57
I think ```plist_to_xml()``` is generally not to be considered thread-safe.
@FunkyM do you think it is a good idea to use a mutex to make sure ```plist_to_xml``` is only used once at the same time? I think there could also arise an issue with ```setlocale()``` in multi-threaded scenarios.

[2015-03-16 18:38] nikias commented on #57
@FunkyM yup, I remembered correctly: https://github.com/UnveN/libplist/commit/4e7caef27b3652eb40f803590ea41c42af6fd9fe

[2015-04-05 10:03] cfergeau commented on #57
At the very least, it should not call xmlCleanupThreads(). http://xmlsoft.org/html/libxml-threads.html#xmlCleanupThreads says: «  WARNING: if your application is multithreaded or has plugin support calling this may crash the application if another thread or a plugin is still using libxml2. It's sometimes very hard to guess if libxml2 is in use in the application, some libraries or plugins may use

[2015-04-16 20:18] darrynza opened #61 "More of a feature request than an issue"
Hi, I might just be a little bit lazy, but is there any way you could add in an option tospecify --indir= where one could speficy a directory containing multiple plist files instead of just decalring them one by one ?

Thanks

[2015-05-26 22:02] codykrieger commented on #50
I fixed this like so:

[code]

It would probably be a bit more efficient to pull the `oldNode` definition out of the conditional and call `delete` on it directly instead of indexing into the map a second time, but there you have it.

[2015-09-25 02:37] FunkyM commented on #61
Hehe, that is probably too lazy. ;)
While possible it would unfortunately add unnecessary logic.
It's much better (and in my pov. easier) if you use the tool in a loop in some script instead.

[2015-09-25 02:37] #61 closed

[2015-09-25 02:39] FunkyM commented on #58
Closing as the last comment should fix this issue.
Please feel free to report if it didn't help.

[2015-09-25 02:39] #58 closed

[2015-10-08 09:27] TerenceAnton opened #65 "Running autogen.sh on Ubuntu 14.04 is okay but running on Windows 7 gives an error"
Hello! I am trying to compile this on Ubuntu and it was okay. But on Windows 7 I get the following error:
`libtoolize: $pkgltdldir is not a directory: /mingw/share/lib`
`./autogen.sh: line 8: aclocal: command not found`
`./autogen.sh: line 9: autoheader: command not found`
`./autogen.sh: line 10: automake: command not found`
`./autogen.sh: line 11: autoconf: command not found`
`./autogen.sh: line

[2015-10-08 09:41] nikias commented on #65
Please understand that this is a general question and not a bug. You need to install automake and autoconf for your mingw installation.

[2015-10-08 09:41] #65 closed

[2015-10-08 09:55] TerenceAnton commented on #65
Thanks nikias. I was not able to replicate the error anymore. However I was able to get this error:
`./configure: line 15289: syntax error near unexpected token libxml2,`
`./configure: line 15289: PKG_CHECK_MODULES(libxml2, libxml-2.0 >= $LIBXML2_VERS
ION)`

[2015-10-08 18:15] cusmire opened #66 "libplist can't compile"
Hello guy!
When I try to install idevicerestore, it says libplist 1,12 is require but I have 1.10 installed, I try to change the file configure.ac by change it to libplist PKG_CHECK_MODULES(libplist, libplist >= 1.10),it seems bypass this error but still not compiling. I Finally realize that I should intall the 1.12 version of libplist. when i try it gives me this error:
checking whether byte orde

[2015-10-08 19:15] cusmire commented on #66
Ok guy! it's ok. I simply done this by doing this. sudo apt-get install python-dev.

[2015-10-21 07:52] saurik commented on #48
"If you are releasing your program under the LGPL, you should also include the text version of the LGPL, usually in a file called COPYING.LESSER. Please note that, since the LGPL is a set of additional permissions on top of the GPL, it's important to include both licenses so users have all the materials they need to understand their rights."

[2015-11-03 08:40] Noiled opened #67 "build failed on mac 10.11"
xplist.c:34:10: fatal error: 'libxml/xmlIO.h' file not found
#include <libxml/xmlIO.h>

I have already installed xml
I found Makfile libxml2_CFLAGS = -I/usr/include/libxml2
but on mac there is no /usr/include/

I changed this to my path, but seems no effect  same error

[2015-11-03 08:58] Noiled commented on #67
I finally slove it by set /autogen.sh libxml2_CFLAGS=-I/usr/local/opt/libxml2/include/libxml2

[2015-11-04 08:06] #67 closed

[2015-11-12 07:13] skortela opened #68 "Crash on multithread environment, xmlCleanup causes crash"
plist will crash when using from different threads.

 xplist.c: methods: plist_to_xml(...) / plist_from_xml(..) are using xml cleanup:
xmlCleanupCharEncodingHandlers(); // Cleanup called from thread 1
    xmlDictCleanup();
    xmlResetLastError();
    xmlCleanupGlobals();
    xmlCleanupThreads();
    xmlCleanupMemory();

crash will happen when another thread will call xmlParseMemory after another

[2015-11-12 11:04] FunkyM commented on #68
Yes, confirmed.
It looks like the only real solution is to introduce a libplist_init|deinit() due to libxml2's API design as without the cleanup memory will leak.

[2015-11-12 11:51] nikias commented on #68
See also #57

[2015-11-12 11:53] nikias commented on #68
Following up on my suggestion with a protecting mutex I didn't take into account that it isn't really solving the problem. @FunkyM you are right with init/deinit. I will take care of that.

[2015-12-07 15:17] #50 closed

[2015-12-20 02:54] gitsop01 opened #70 "plist_get_uint_val: Assertion `length == sizeof(uint64_t)' failed."
During a springboard access on ipad recieved this error.

[2016-02-15 03:53] progressnerd commented on #68
Aha, this is causing https://github.com/libimobiledevice/ideviceinstaller/issues/41.

Simply dropping this section would probably be alright. In a multi-threaded environment, libxml recommends either calling xmlCleanupParser once before program exit or simply not calling it at all. See: "In case of doubt abstain from calling this function or do it just before calling exit() to avoid leak reports f

[2016-04-06 15:17] kosmakoff opened #75 "Parsing dates depends on timezone and, specifically, on Daylight Saving Time"
I see issues when parsing XML to plist_node. The issue is that when it comes to parsing date value, it adds unnecessary 1 hour shift for my current timezone.

I use this XML to import:

[code]

After loading it via `plist_from_xml`, after getting the key `Last Backup Date` and converting it to string value, I see the value of `2016-04-06 11:16:17`, which is 1 hour more than I expect to see.

I thi

[2016-04-13 04:40] gitsop01 commented on #70
This function is called several times from sbmanager device.c code and fails on ipad and iphone 5
access.

[2016-04-20 12:23] nikias commented on #68
I accepted the pull request #73 for now to work around this problem.

[2016-04-20 12:23] #68 closed

[2016-04-20 12:38] nikias commented on #75
@kosmakoff I don't think this is a bug. You say "converting it to string value", how exactly do you do that? If the XML file says 10:16 the output 10:16 would be correct since the date does not contain any timezone information. If you get a different output for the date value before and after the DST change then this would be a bug.

[2016-04-20 17:20] kosmakoff commented on #75
Silly me, I wrote 2 identical timestamps back then. Let me just fix that.

[2016-04-29 00:22] nikias commented on #75
If you really think this is a bug, please give a code example in C. Please tell me how you traverse the resulting plist structure and how you get the value of the datetime node.

From the manpage (man gmtime):

You say "parse that XML as a string", does it basically mean using plist_from_xml() ?

If I do that, and then get the value of the date node, I get the numerical value 481630577 which is th

[2016-04-29 21:20] nikias commented on #57
This issue was addressed with the recent commit 6ab7e30.

[2016-04-29 21:20] #57 closed

[2016-05-12 01:00] #48 closed

[2016-05-12 01:01] nikias commented on #70
Would be good to have a sample plist file to test this particular issue.

[2016-05-18 14:38] nikias commented on #75
@kosmakoff can you tell me how you convert the date to a string? I can't fix  problem that can't be confirmed.

[2016-05-20 10:47] kosmakoff commented on #75
Hi. Sorry for slow response times, I just can't allocate enough time to finish this issue once and forever.

Right now here are 2 source codes which I tried to test.
First is the C# code with DLL wrapper. [Here it is](https://gist.github.com/kosmakoff/1da2424447566c8c64de9d8fa1c6d32a). The output of the program is in the comments section.

I could not reproduce the issue on Ubuntu Linux on nativel

[2016-05-24 12:22] lianzisong opened #77 "How to complie the Source code with Visual Studio?"
I want to complie the source code with visual studio ,but it seems that the project can not support my idear ,can anyone can help me ? or tell me how to complie it through the Cygwin? It seems that it need so many depend libs.

[2016-06-15 14:04] kosmakoff commented on #75
Seems like #56 is related to this issue. I just tried to create the plist with pre-1970 date and when converted to XML it generated null in place of date value. Interestingly though, the conversion from/to binary format does not contain any issues.

To sum up:
plist from xml - has issue
plist to xml - correct
plist from binary - correct
plist to binary - correct

[2016-07-02 23:11] nikias commented on #56
Actually there is also a problem on macOS, mktime (used in xplist.c to parse dates from XML) does not work with dates before ~1900, even though the time_t is 64 bit signed and would easily support that.
I think I will also change the internal storage from struct timeval to double - this is what the binary plist format uses - to get rid of the 32 vs 64 bit storage size difference (and the actual 8

[2016-07-06 12:40] xdeng commented on #56
@nikias  →_→ You can try try

[2016-08-20 00:03] kensportsfan opened #78 "Can't get libxml2 dependency on mac (unix)"
Whenever I try to run the `./autogen.sh` command I'm told I'm missing the "libxml2" package that is listed as a dependency. I've tried downloading this dependent package multiple times and from multiple sources yet it continues to not recognize that the package is there. Does anyone know how to fix this issue? I'm on a Mac (unix).

[2016-10-01 04:45] ibinti commented on #78
I am getting the same error message. Did you find the solution?

[2016-10-05 16:15] gitsop01 commented on #70
This is no longer an issue  with the lastest git head code available.

[2016-10-05 16:15] #70 closed

[2016-10-05 19:24] nikias commented on #78
When using macports, it's usually enough to install libxml2 package.

But I also used the stock OSX libxml in the past by manually adding a pkgconfig file ```/usr/lib/pkgconfig/libxml-2.0.pc```:
[code]
(I took the version number from ```/usr/include/libxml2/libxml/xmlversion.h```)

Then usually autogen/configure work as expected, however you might have to add ```PKG_CONFIG_PATH=/usr/lib/pkgconfig`

[2016-10-05 19:27] nikias commented on #66
You can also run configure with --without-cython.

[2016-10-05 19:27] #66 closed

[2016-10-05 19:30] nikias commented on #55
I kinda like the idea. I should add support for it :)

[2016-10-05 19:39] nikias commented on #36
Closing. This is not a bug in libplist anyway.

[2016-10-05 19:39] #36 closed

[2016-10-05 19:40] nikias commented on #21
Closing due to inactivity.

[2016-10-05 19:40] #21 closed

[2016-10-05 19:41] nikias commented on #32
Closing due to inactivity. If this problem is still happening with latest code from git, feel free to reopen.

[2016-10-05 19:41] #32 closed

[2016-11-10 14:17] nikias commented on #56
@xdeng try latest code from git HEAD - it will fix it.

[2016-11-10 14:17] #56 closed

[2016-11-10 14:18] nikias commented on #78
Closing. Latest git HEAD code doesn't require libxml2 anymore.

[2016-11-10 14:18] #78 closed

[2016-11-11 23:57] nikias commented on #75
@kosmakoff can you check this with the latest code? I made a bunch of changes regarding the date format etc.

[2016-11-12 17:08] nikias commented on #77
Visual Studio building is not officially supported.

[2016-11-12 17:08] #77 closed

[2016-11-14 09:38] kosmakoff commented on #75
@nikias Could you point to exact lines of code that were changed? I'd like to compare the source code with quamotion's.

[2016-11-14 10:27] kosmakoff commented on #75
Verified with the latest version based on Quamotion's fork. The issue's gone.

[2016-11-14 10:27] #75 closed

[2016-11-14 12:41] nikias commented on #75
AWESOME!

[2016-11-18 14:57] qmfrederik commented on #77
That said, if you go to https://github.com/libimobiledevice-win32/libplist/, you'll find a fork of the project which you can use to build with Visual Studio.

[2016-11-25 03:56] jackczhang opened #80 "The latest libplist make idevicerestore errors [ipsw_get_latest_fw: ERROR: Can't find MobileDeviceSoftwareVersionsByVersion dict in version data]"
The latest libplist make idevicerestore errors, when using -l to download latest firmware
[ipsw_get_latest_fw: ERROR: Can't find MobileDeviceSoftwareVersionsByVersion dict in version data

[2016-11-25 09:06] jackczhang commented on #80
looks like the libplist does not handle the situation below
</dict><key>iTunesWindowsDoNotUseASU</key>
which '><' connected.

[2016-11-25 09:11] jackczhang commented on #80
Attached latest version.xml
[version.zip](https://github.com/libimobiledevice/libplist/files/612877/version.zip)

[2016-11-25 15:08] nikias commented on #80
thanks, will take a look

[2016-11-28 11:16] nikias commented on #80
Fixed with commit https://github.com/libimobiledevice/libplist/commit/5e8fb617b8f7857693e7b41f56eaa6767ed6a54d

[2016-11-28 11:16] #80 closed

[2016-12-01 04:32] kxj0o opened #81 "plist_to_xml function is very slow"

[2016-12-01 11:38] nikias commented on #81
A bit more information please. Do you have an example file or code? Without any description I don't know where to look...

[2016-12-05 12:58] kapil0408 commented on #21
Configuration for libplist 1.13.0:
-------------------------------------------
 Install prefix ..........: /opt/local
 Debug code ..............: no
 Python bindings .........: no

 Now type 'make' to build libplist 1.13.0,
 and then 'make install' for installation.

I am using 1.13.0 version of libplist file on Terrminal version (2.6.1), OSX version 10.11.6, Xcode version 7.3.1.
I am getting foll

[2016-12-14 02:17] nikias commented on #81
@kxj0o can you give an example please?

[2016-12-15 09:04] kxj0o commented on #81
@nikias idevicerestore tool, restore.c file 1606 line call restored_send() send Baseband Data, plist format Baseband Data is very large 29.3 MB

[2016-12-15 09:21] kxj0o commented on #81
The original size of the  [BasebandData.txt](https://github.com/libimobiledevice/libplist/files/654227/BasebandData.txt) file is 29.3MB

[2016-12-28 17:02] nikias commented on #81
@kxj0o I don't see any issue with that. The plist you attached is 9.1MB and what is the problem with the library sending it? The conversion to xml is actually quite fast.

[2016-12-30 03:45] zhaohuaxishi opened #82 "fail to build use android-ndk-r13b"
i use following command to build libplist for android(ndk-r13b)
[code]
but the configure command fail since it can not find `pthread_once`

[code]

here is the complete output message:

[code]

i also tried to build following dummy code use arm-linux-androideabi-gcc

[code]

it works.

Any help would be appreciated

[2017-01-01 02:23] saurik opened #83 "libplist's new XML parser has numerous bugs (even a segfault!)"
OK, so, before I begin, I'm going to say that it has taken me hours to come to the position that trying to fix this is even the right thing to do. I've written an XML parser before, and let me tell you that it isn't easy. When I did it, I had spent months deep in the various XML specifications, and I cared enough to really really handle them well; and even then, it was a learning exercise that I d

[2017-01-01 03:02] nikias commented on #83
Nice! Happy New Year :)
I understand that libxml2 is more robust but is has some issues. It's leaking memory and also seems to have problems in multithreaded environments for some reason. That was the reason why I chose to do the custom parsing. See the improvements in the comments of this ticket: https://github.com/libimobiledevice/libimobiledevice/issues/394
I will take care of the issues. I wil

[2017-01-01 03:23] saurik commented on #83
(I was just talking about this with @DHowett, and he pointed out that Apple has changed the license on CFLite to MIT and open-sourced it all as part of Swift, so anyone who ends up here as part of tracking down a parser differential might consider trying to use Apple's code to try to get exactly the expected behavior.)

[2017-01-01 03:34] posixninja commented on #83
meh, always killing my 0dayz... libxml2 and apple's development teams are on par for their issue response. it couldn't possibly get any worse!!

[2017-01-01 06:53] posixninja commented on #83
Ok perhaps a more constructive comment. can we perhaps create some test units? plist really isn't nearly as complicated as xml is. this surely could be made secure (even if not fully compliant with standards)

[2017-01-02 00:02] nikias commented on #83
I just pushed several commits that fix the first 6 issues/examples in this list.
@saurik I am not yet sure how to handle the other cases (text after the actual XML, unclosed attributes etc.) but I must really say the "libplist detection" cases are really nice haha :D
@posixninja make check does some tests. In fact I am making a test file right now that tests the issues fixed in with latest commits

[2017-01-02 01:31] nikias commented on #83
Added several test cases.

[2017-01-03 04:41] urherenow commented on #66
I know this is old and long closed, but I just spent hours trying to figure this stuff out myself. I feel stupid now. Everything you need is in the Cygwin setup, you just have to pick the correct things to install. Such as "python-devel" <-- this fixes your last error

There are also cython packages in there to choose from.

[2017-01-03 15:00] Tatsh commented on #83
Does Python's plistlib (Python 3+) have the same issues?

[2017-01-03 16:55] nikias commented on #83
plistlib uses expat XML parser so I doubt it has the same issues :)

[2017-01-03 16:56] nikias commented on #83
however it will probably have the Apple-only issues listed above.

[2017-01-04 17:08] nikias commented on #82
You can manually specify that pthread_once is available:
[code]
However it is weird that it doesn't work. Can you check the created ```configure``` file, search for pthread_once and paste the following few lines until
[code]
so maybe we can see if the check in configure is maybe incorrect?

[2017-01-07 01:34] zhaohuaxishi commented on #82
here is the result  @nikias
[code]

[2017-01-09 08:45] geekwish opened #84 "Out-Of-Boundary Read when parses base64 data"
[code]

And  if it parse
[code]

[code]

one possible patch
[code]

[2017-01-11 03:03] nikias commented on #84
Hi, thanks for pointing this out. I noticed some other issues in the parser, like split data, so I reworked the parsing: https://github.com/libimobiledevice/libplist/commit/3a55ddd3c4c11ce75a86afbefd085d8d397ff957
This also fixes the OOB read and will parse your test case 'correctly' into no data output since it is not properly base64 encoded.

[2017-01-11 03:03] #84 closed

[2017-01-11 16:21] nikias commented on #81
@kxj0o maybe I'm missing the point here, but you haven't really explained/shown why or where it is slow.

To give you some example, the following file is a 162 MB XML plist, that has just one huge <data> node in it:
[code]
Converting it from XML to binary takes about a second:
[code]
And converting it from binary to XML it takes another second:
[code]
I don't see anything that would be considered

[2017-01-11 16:25] nikias commented on #82
@zhaohuaxishi this looks exactly like mine. So the question is, why would this simple program fail to compile. What if you try to compile+link this:
[code]
with arm-linux-androideabi-gcc ?

[2017-01-12 21:00] carnil commented on #84
Hi

This has been assigned [CVE-2017-5209](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-5209).

[2017-01-12 22:16] Sauraus opened #85 "MacOS 10.12.2 Sierra 'sudo make install' fails"
13:06 $ sudo make install
[code]
Never tried to build the lib before so I have no idea where to start looking for why this is happening, any pointers?

[2017-01-12 23:59] nikias commented on #85
Sorry but it looks like the normal output of make install. Have you tried running plistutil now? It's in /usr/local/bin acoording to your output.

[2017-01-13 00:13] Sauraus commented on #85
Ah yes.. my bad sorry about that.

[2017-01-13 00:13] #85 closed

[2017-01-13 01:44] zhaohuaxishi commented on #82
if i link it use `-lpthread`
[code]
it tells me
[code]

but if i link it use `-pthread`
[code]
it works

[2017-01-13 02:04] zhaohuaxishi commented on #82
i find two link about this problem:

[Android Build Error ：cannot find -lrt and -lpthread](https://github.com/daniel-yu-papa/Maggie-OpenMax/issues/1)
[Cannot build local shared library in Android Ndk](http://stackoverflow.com/questions/22164564/cannot-build-local-shared-library-in-android-ndk)

it seems that android ndk do not have libpthread, all function of pthread are included in libc.so
so i u

[2017-01-15 15:44] revskills opened #86 "Issue in plist_free_data plist.c:185"
[code]
Sample base64:
YnBsaXN0MDDRAgHTBAQEAAAAUUEQAVFCyrIACAALABIAFAAWAgEAAAAAAAAABQAAAAAAAAABAAAAAAAAABg=

[2017-01-16 00:23] nikias commented on #86
Thanks for reporting Francisco :)
Now this is an interesting one. The error happens because there is a dictionary with a key node that is not a string type, but an integer. The value of the integer node is 1. Now in ```parse_dict_node()``` https://github.com/libimobiledevice/libplist/blob/master/src/bplist.c#L445 the type of the key node will be forced to be ```PLIST_KEY```. In the same dictionary

[2017-01-16 00:27] revskills commented on #86
There is no need to give thanks :-), had pending to fuzz this library. Thank you Nikias!

[2017-01-17 03:56] zhunki opened #87 "AddressSanitizer: heap-buffer-overflow on address 0xb5e007d7 at pc 0x804a78c bp 0xbf815888 sp 0xbf81587c"
I found a heap-buffer-overflow vulnerability.
Should I submit it here and can it be assigned a CVE ID if validated?
Should I submit poc after the report is closed?
Thanks,

here is the stack trace:
==21852== ERROR: AddressSanitizer: heap-buffer-overflow on address 0xb5e007d7 at pc 0x804a78c bp 0xbf815888 sp 0xbf81587c
READ of size 1 at 0xb5e007d7 thread T0
    #0 0x804a78b in main /home/b/asan/lib

[2017-01-17 04:50] nikias commented on #87
If I'm not mistaken this happens when you try to parse a file with ```plistutil``` that is shorter than 8 bytes. Correct?

[2017-01-17 05:01] zhunki commented on #87
sure. seems you have known this bug.
I found find a few other bugs. should I submit them here?

[2017-01-17 12:08] nikias commented on #87
I didn't know the bug but could figure it from the actual lines of code from the address sanitizer output. If you have other bugs you can submit them here.

[2017-01-18 02:08] zhunki opened #88 "memory allocation error"
there is a extra large memery allocation error which can be detected by addresssanitizer.

==31613== ERROR: AddressSanitizer failed to allocate 0x80003000 (-2147471360) bytes of LargeMmapAllocator: Cannot allocate memory
    #0 0xb61a74b2 (/usr/lib/i386-linux-gnu/libasan.so.0+0x124b2)
    #1 0xb61b00dc (/usr/lib/i386-linux-gnu/libasan.so.0+0x1b0dc)
    #2 0xb61b3093 (/usr/lib/i386-linux-gnu/libasa

[2017-01-18 02:20] zhunki opened #89 "heap-buffer-overflow in parse_dict_node"
==31012== ERROR: AddressSanitizer: heap-buffer-overflow on address 0xb5802c1a at pc 0x80679a0 bp 0xbffd9648 sp 0xbffd963c
READ of size 1 at 0xb5802c1a thread T0
    #0 0x806799f in parse_array_node /home/b/asan/libplist/src/bplist.c:490
    #1 0x806799f in parse_bin_node /home/b/asan/libplist/src/bplist.c:645
    #2 0x806a0f3 in parse_bin_node_at_index /home/b/asan/libplist/src/bplist.c:703
    #3

[2017-01-18 02:31] zhunki opened #90 "plist.c:766: plist_get_uint_val: Assertion `length == sizeof(uint64_t)' failed."
[poc1.txt](https://github.com/libimobiledevice/libplist/files/712885/poc1.txt)

[2017-01-18 07:18] kxj0o commented on #81
@nikias Test data can be downloaded from here [https://1drv.ms/f/s!Agxy6bY8RrCMartAvmorOziqpGc](url)

    plist_t plist = NULL;
    plist_from_file(L"BasebandData.xml", &plist);
    char *plist_xml = NULL;
    uint32_t length = 0;
    uint32_t tick = GetTickCount();
    plist_to_xml(plist, &plist_xml, &length);
    tick = GetTickCount() - tick;

   plist_to_xml()  takes about 45 seconds

[2017-01-18 14:41] #86 closed

[2017-01-18 14:47] nikias commented on #87
Fixed in master with commit 7391a506352c009fe044dead7baad9e22dd279ee

[2017-01-18 14:47] #87 closed

[2017-01-18 14:49] nikias commented on #81
@kxj0o link is broken

[2017-01-18 15:57] nikias commented on #88
This is a good one, it bypasses this check for the size of the offset table:(if (offset_table + num_objects * offset_size >= plist_bin + length) If you want your real name to appear in the log messages, you can specify it here, with your github email address.

[2017-01-18 16:26] zhunki commented on #88
sure. my name is Wang Junjie.

[2017-01-18 17:15] nikias commented on #88
github email address?

[2017-01-19 00:49] zhunki commented on #88
zhunkibatu@gmail.com

[2017-01-19 02:11] kxj0o commented on #81
@nikias paste a link into a browser address bar and open it

[2017-01-19 14:54] nikias commented on #88
Should be fixed with commit 26061aac4ec75e7a4469a9aab9a424716223e5c4

[2017-01-19 14:54] #88 closed

[2017-01-19 17:15] nikias commented on #89
@zhunki Can you re-run your test with the latest code on git master? I fixed a couple of things so this issue might not happen anymore. Thanks.

[2017-01-20 03:33] zhunki commented on #89
you are correct. The problem can not be reproduced anymore.
Please help to close the issue.
Thanks.

[2017-01-20 03:42] nikias commented on #81
Ok I just tried on win32 and it is slow. I will investigate. On macOS it takes less than a second to run that code.

[2017-01-20 04:06] nikias commented on #81
I figured out what's wrong. The str_buf_append() will realloc a million times and realloc is _REALLY_ slow on windows. I will calculate the size and grow the buffer beforehand so it doesn't reallocate so many times.

[2017-01-20 04:14] zhunki commented on #88
hi, the problem seems still exists.
==20062== AddressSanitizer CHECK failed: ../../../../src/libsanitizer/sanitizer_common/sanitizer_posix.cc:70 "(("unable to mmap" && 0)) != (0)" (0x0, 0x0)
    #0 0xb61c64b2 (/usr/lib/i386-linux-gnu/libasan.so.0+0x124b2)
    #1 0xb61cf0dc (/usr/lib/i386-linux-gnu/libasan.so.0+0x1b0dc)
    #2 0xb61d2093 (/usr/lib/i386-linux-gnu/libasan.so.0+0x1e093)
    #3 0xb61bc

[2017-01-20 06:30] zhunki commented on #89
As for me, the problem still can be reproduced under ASAN, but disappears withoutht ASAN.

==8876== ERROR: AddressSanitizer: heap-buffer-overflow on address 0xb5802c12 at pc 0x80650b4 bp 0xbfa4d9c8 sp 0xbfa4d9bc
READ of size 8 at 0xb5802c12 thread T0
    #0 0x80650b3 in parse_array_node /home/b/a/libplist-master/src/bplist.c:478
    #1 0x80650b3 in parse_bin_node /home/b/a/libplist-master/src/bpli

[2017-01-20 06:31] zhunki commented on #89
it must occur before the infinite recursion.

[2017-01-22 04:32] kxj0o commented on #81
@nikias good idea ^_^

[2017-01-24 23:16] epozuelo commented on #84
Hi,

I created asdf.plist as @geekwish said:

emilio@tatooine:~/libplist$ cat asdf.plist
<data trn="1.0" 0//EN"
    "http.DTDs/ProWerwwk.arsion="1.0">></data>

Now if I parse it with plist 1.12, I get:

emilio@tatooine:~/libplist$ /opt/libplist/bin/plistutil -i asdf.plist
Entity: line 1: parser error : error parsing attribute name
<data trn="1.0" 0//EN"
                ^
Entity: line 1: parser err

[2017-01-26 18:54] epozuelo commented on #87
This is CVE-2017-5545

[2017-01-30 23:44] epozuelo commented on #84
Ping? I'd like to issue a security update downstream with a fix for this issue, but since I'm unable to reproduce it, I can't be sure if the fix is working on the backport.

Perhaps I have a bad test case? Can you add the correct one as an attachment?

Thanks

[2017-02-01 01:32] nikias commented on #84
@epozuelo I am not sure what you are doing there, but if I try to convert the file
[code]
(without enclosing ```<plist></plist>``` tags)
the output since commit 3a55ddd is the following:
[code]
so the aforementioned issue is already fixed and the parsing fails. No idea why you actually seem to get binary plist output though.

[2017-02-01 08:00] ncopa commented on #89
Can you please tell exactly which commits fixes the issue so we can backport the patch for distro packages?

[2017-02-01 12:19] nikias commented on #89
I haven't fully confirmed this issue fixed yet. The commit 6a44dfb72f1cb5c82c10feed95ff9428eec49d0a was the latest before replying to the initial report.

[2017-02-01 19:23] nikias commented on #89
Ok I checked and another issue was still there. Fixed with commit 4765d9a60ca4248a8f89289271ac69cbffcc29bc.

[2017-02-01 19:23] #89 closed

[2017-02-01 19:49] nikias commented on #89
Just to complete the information, the other issue was in parse_array_node where the calculation of the items in an array would read out of bounds of the plist when the ref_size is too large. I had to modify the plist for the test to work properly, otherwise it would fail to parse before it reaches the affected location in the code:

Base64 sample of poc17.bplist:
[code]

[2017-02-02 12:39] revskills commented on #86
It looks like someone has requested several CVEs for libplist including this issue CVE-2017-5836 in http://seclists.org/oss-sec/2017/q1/279

[2017-02-02 15:41] nikias commented on #88
This was assigned CVE-2017-5835.

[2017-02-02 15:44] nikias commented on #89
The original issue was assigned CVE-2017-5834.
http://seclists.org/oss-sec/2017/q1/279

[2017-02-02 15:46] nikias commented on #86
Yeah heh. I updated the comments for the other tickets. I will not update the commit messages to contain the CVEs but the NEWS file will be updated accordingly.

[2017-02-02 22:30] revskills opened #91 "AddressSanitizer: heap-buffer-overflow /home/fuzzer/Fuzzers/libplist/src/bplist.c:586:20 in parse_bin_node"
[code]

Repro file base64 encoded (Apple binary property list):
[code]
Jfyi a fast and simple fuzzer to catch this issue and others:

[code]

[2017-02-03 00:10] nikias commented on #91
Thanks! Hehe, I am about to submit a pull request with exactly that code for google's oss fuzz ;)

[2017-02-03 22:50] nikias commented on #91
Fixed.

[2017-02-03 22:50] #91 closed

[2017-02-03 23:06] revskills opened #92 "AddressSanitizer: WRITE of size 4 bplist.c:648:41"
[code]

Repro file:
[code]
Just catch this the fuzzer after your last commit

[2017-02-04 02:02] nikias commented on #92
And fixed. See commit message for details.

[2017-02-04 02:02] #92 closed

[2017-02-04 06:34] xdeng commented on #83
I use the multi-threaded environment seems to be no problem

[2017-02-04 06:42] xdeng commented on #83
Can you separate the custom XML parser branch and libxml2 bugfixes branch ?

[2017-02-04 07:09] xdeng commented on #81
@nikias @kxj0o  OS win7 64   IDE vs2005 debug 21x  release 15x   Not very slow

[2017-02-04 10:53] epozuelo commented on #88
Any plans for a new release? 1.12 is from 2014 and there have been many security fixes since then

[2017-02-07 06:56] zhunki opened #93 "memory corruption bug"
Hi,
I found a memory corruption bug.
the stack trace is as shown below:
==3249== WARNING: AddressSanitizer failed to allocate 0xfff50001 bytes
=================================================================
==3249== ERROR: AddressSanitizer: memcpy-param-overlap: memory ranges [0x00000000,0xfff50000) and [0xb58017ce, 0xb57517ce) overlap
    #0 0xb6183b9a (/usr/lib/i386-linux-gnu/libasan.so.0+0xdb

[2017-02-07 16:26] nikias commented on #93
Fixed with commit fbd8494d5e4e46bf2e90cb6116903e404374fb56.

[2017-02-07 16:26] #93 closed

[2017-02-07 18:18] nikias commented on #90
Fixed with commit 0c6668246cde84071996dd402db1f16738113398.

[2017-02-07 18:18] #90 closed

[2017-02-08 03:48] zhunki opened #94 "Memory allocation error"
ERROR: AddressSanitizer failed to allocate 0xa4063000 (-1543098368) bytes of LargeMmapAllocator: Cannot allocate memory

#0 0xb61ec4b2 (/usr/lib/i386-linux-gnu/libasan.so.0+0x124b2)
    #1 0xb61f50dc (/usr/lib/i386-linux-gnu/libasan.so.0+0x1b0dc)
    #2 0xb61f8093 (/usr/lib/i386-linux-gnu/libasan.so.0+0x1e093)
    #3 0xb61e22ed (/usr/lib/i386-linux-gnu/libasan.so.0+0x82ed)
    #4 0xb61f088b (/usr/

[2017-02-08 05:08] zhunki opened #95 "heap-buffer-overflow in parse_string_node"
==4536== ERROR: AddressSanitizer: heap-buffer-overflow on address 0xb5e0074e at pc 0x806616b bp 0xbfabe008 sp 0xbfabdffc
WRITE of size 1 at 0xb5e0074e thread T0
    #0 0x806616a in parse_string_node /home/b/asan/libplist/src/bplist.c:298
    #1 0x806616a in parse_bin_node /home/b/asan/libplist/src/bplist.c:668
    #2 0x806616a in parse_bin_node_at_index /home/b/asan/libplist/src/bplist.c:755
    #

[2017-02-09 13:22] grahamc opened #96 "Issue a release"
Hello @nikias!

You've put in a ton of great, great work in to libplist lately. Thank you.

As part of the weekly NixOS bug hunt (https://github.com/NixOS/nixpkgs/issues/22549) I was about to apply 3a55ddd3c4c11ce75a86afbefd085d8d397ff957 as a patch over top 1.12, but found it doesn't apply cleanly. Digging around the repo, I've seen just how much you have done lately. It shows me there are many m

[2017-02-12 15:43] Manu70319 opened #97 "Read me please."
Hey! I had a problem exactly like this:
$ios_webkit_debug_proxy
dyld: Library not loaded: /usr/local/lib/libplist.1.1.10.dylib
Referenced from: /usr/local/bin/ios_webkit_debug_proxy
Reason: image not found
Trace/BPT trap: 5

and did everything necessary to fix it and did exactly what IDevice central did: https://www.youtube.com/watch?v=Y9iPE7XIQtU

But now I have another error:

dyld: Library not

[2017-02-14 17:21] nikias commented on #83
@xdeng the custom xml parser works fine so I don't see any reason to switch back. There are some differences but it isn't really a problem for every day usage (like with libimobiledevice).

[2017-02-15 14:28] nikias commented on #81
Fixed with commit 8ad21e6b59e5e5a3104660f17ad2b0e9122edecf

[2017-02-15 14:28] #81 closed

[2017-02-15 14:30] nikias commented on #96
A release is close, working on ironing out a few remaining issues.
It will be API compatible with 1.12, yes.

[2017-02-15 14:40] nikias commented on #97
Sorry, this is not a bug in libplist. This is usual compilation and installation of libraries. You can just google how this works. Also, what is so hard to understand about
```dyld: Library not loaded: /usr/local/lib/libplist.3.dylib``` ? It literally tells you what's wrong.

[2017-02-15 14:40] #97 closed

[2017-02-15 14:46] nikias commented on #95
Can you please re-run with lastet code? AFAIK this was fixed with commit 31d7cc53.

[2017-02-15 14:57] nikias commented on #94
This has been fixed by checking if the range of the string data is inside correct range, commit 32ee5213.

[2017-02-15 14:57] #94 closed

[2017-02-15 14:58] #95 closed

[2017-02-15 15:06] nikias commented on #82
Can you change configure.ac like this:
[code]
and print the output of that particular line when you run ./configure ?

[2017-02-16 04:48] zhunki commented on #94
sure. seems I run a old version.

[2017-02-16 13:29] nikias commented on #94
Well, I got a similar report via google's OSS-Fuzz which led to a fix before I looked at this ticket :)

[2017-02-23 02:02] grahamc commented on #96
Thank you so much, glad to hear. Is there something I can do to help?

[2017-02-24 08:24] zhunki opened #98 "heap-buffer-overflow in parse_unicode_node"
==8367== ERROR: AddressSanitizer: heap-buffer-overflow on address 0xb5e00750 at pc 0x8066423 bp 0xbf8e7e78 sp 0xbf8e7e6c
WRITE of size 2 at 0xb5e00750 thread T0
    #0 0x8066422 in parse_unicode_node /home/b/asan/libplist/src/bplist.c:384
    #1 0x8066422 in parse_bin_node /home/b/asan/libplist/src/bplist.c:679
    #2 0x8066422 in parse_bin_node_at_index /home/b/asan/libplist/src/bplist.c:759

[2017-02-24 08:32] zhunki opened #99 "Memory allocation error"
==8466== ERROR: AddressSanitizer failed to allocate 0x7eff3000 (2130653184) bytes of LargeMmapAllocator: Cannot allocate memory
==8466== Process memory map follows:
	0x08048000-0x08098000	/home/b/asan/libplist/tools/plistutil
	0x08098000-0x08099000	/home/b/asan/libplist/tools/plistutil
	0x08099000-0x0809a000	/home/b/asan/libplist/tools/plistutil
	0x1ffff000-0x24000000
	0x24000000-0x28000000
	0x280

[2017-02-24 08:36] zhunki opened #100 "heap-buffer-overflow in base64encode"
==8523== ERROR: AddressSanitizer: heap-buffer-overflow on address 0xb5e00791 at pc 0x808605e bp 0xbf92fda8 sp 0xbf92fd9c
READ of size 1 at 0xb5e00791 thread T0
    #0 0x808605d in base64encode /home/b/asan/libplist/src/base64.c:58
    #1 0x8050406 in node_to_xml /home/b/asan/libplist/src/xplist.c:303
    #2 0x806036f in plist_to_xml /home/b/asan/libplist/src/xplist.c:408
    #3 0x804a346 in main /

[2017-03-08 15:33] nikias commented on #82
@zhaohuaxishi ping

[2017-03-10 05:55] zhaohuaxishi commented on #82
[code]

sorry for offline for such a long time

[2017-03-12 16:12] nikias commented on #82
@zhaohuaxishi no problem, thanks!

[2017-03-16 06:03] carnil commented on #99
CVE-2017-6440

[2017-03-16 06:04] carnil commented on #95
This is CVE-2017-6439

[2017-03-16 06:13] carnil commented on #98
This is CVE-2017-6438

[2017-03-16 06:14] carnil commented on #100
This is CVE-2017-6437

[2017-03-16 06:14] carnil commented on #94
This is CVE-2017-6436

[2017-03-16 06:15] carnil commented on #93
This is CVE-2017-6435

[2017-03-18 20:58] carnil commented on #100
It is possible that the bug is only present after 1.12, as git has seen some refactoring of `parse_bin_node`. Cf. comments on https://people.canonical.com/~ubuntu-security/cve/2017/CVE-2017-6437.html

[2017-03-18 23:00] nikias commented on #82
Fixed with commit https://github.com/libimobiledevice/libplist/commit/71bcd3b65e0a40bcdd2bfbdea07f96cce03a8a8f

[2017-03-18 23:00] #82 closed

[2017-03-26 18:12] nikias commented on #100
Should be fixed with https://github.com/libimobiledevice/libplist/commit/dccd9290745345896e3a4a73154576a599fd8b7b

[2017-03-26 18:12] #100 closed

[2017-03-26 18:12] nikias commented on #99
Should be fixed with https://github.com/libimobiledevice/libplist/commit/dccd9290745345896e3a4a73154576a599fd8b7b

[2017-03-26 18:12] #99 closed

[2017-03-26 18:13] nikias commented on #98
Should be fixed with https://github.com/libimobiledevice/libplist/commit/dccd9290745345896e3a4a73154576a599fd8b7b

[2017-03-26 18:13] #98 closed

[2017-04-18 07:06] zhunki opened #103 "heap-buffer-overflow in bplist.c:733"
==26853== ERROR: AddressSanitizer: heap-buffer-overflow on address 0xb58018c8 at pc 0x80665b8 bp 0xbfb96b58 sp 0xbfb96b4c
READ of size 8 at 0xb58018c8 thread T0
    #0 0x80665b7 in parse_bin_node_at_index /home/b/libplist/src/bplist.c:733
    #1 0x8069720 in plist_from_bin /home/b/libplist/src/bplist.c:857
    #2 0x804bbab in main /home/b/libplist/tools/plistutil.c:150
    #3 0xb5fe6a82 (/lib/i386

[2017-04-18 11:39] nikias commented on #103
I cannot reproduce it. This check prevents further processing for me:
https://github.com/libimobiledevice/libplist/blob/master/src/bplist.c#L837
[code]
It is supposed to prevent that the number of objects combined with the offset size will point outside of the plist data. The sample you provided has number of objects = 0x8000000000000003 and offset size = 0xFF. Maybe your compiler reduces the size

[2017-04-18 21:15] nikias commented on #103
@zhunki can you use this patch and paste the output:
[code]

[2017-04-19 03:23] zhunki commented on #103
@nikias the result is as follows
offset_table: 0xffffffffb58017d1
num_objects: 0x8000000000000003
offset_size: 0xff
end_data: 0xffffffffb58017d4
range check: 0x7fffffffb5801ace > 0xffffffffb58017d4

[2017-04-19 05:48] zhunki commented on #103
0x8000000000000003*0xff=0x‭80000000000002FD‬

[2017-04-19 17:58] nikias commented on #103
@zhunki should be fixed with my latest commit: fdebf8b319b9280cd0e9b4382f2c7cbf26ef9325

[2017-04-20 02:56] zhunki commented on #103
@nikias sure. well done.

[2017-04-20 09:12] #103 closed

[2017-04-27 12:21] nikias commented on #96
Released 2.0.0

[2017-04-27 12:21] #96 closed

[2017-05-01 11:12] mexmer commented on #83
@saurik just note, apple devices can create XML that contains null character inside element value, and it's like that since iOS 3 at least.

my xmlparser is based on expat library.

also, as for issues mentioned above, have not seen any of them, except not closed attribute, which out parser can take care off (it ignores attribute in fact)

[2017-05-02 07:35] zhaohuaxishi opened #104 "fail to build tools and test use android-ndk-r13b"
i got following error when compile this project with android-ndk-r13b:

[code]

this error disappear after i add `-lm` to `plistutil_LDADD` in `tools/Makefile.am`. `plist_cmp_LDADD` and `plist_test_LDADD` in `test/Makefile.am` have the same problem.

maybe we have to add `-lm` explict to link math lib for android, see this link for more information

[unsatisfied link error on android when using an

[2017-05-20 03:14] iApeiron opened #106 "Bulk convert entire directory"
Using apple's default tool, "plutil -convert binary1 *.plist" for example, will convert all plists in the current directory.
Using a * wildcard with plistutil, on the other hand, seems to only interact with the first plist in the list.

Is this the intended behaviour of plistutil? Is there an easy way to bulk convert an entire directory?

Thanks.

[2017-05-20 07:01] nikias commented on #106
Bulk converting isn't supported and I don't see any reason to, because you can just use a bash loop:
[code]
Just be a little creative. Mind tht this would convert files from xml to binary or binary to xml, depending on the initial format.

[2017-05-21 16:56] iApeiron commented on #106
Thank you.

[2017-05-21 16:56] #106 closed

[2017-08-09 19:33] top-sekret opened #108 "Clang over GCC"
Why is Clang preferred over GCC?

I always build libplist and other libimobiledevice with GCC. Most distros are suited for GCC. When building a package using automated tools, like debhelper, again, it chooses GCC.

So, why is Clang preferred?

[2017-08-11 00:45] pachoo opened #109 "Cython to_bin() decode error"
When using the cython bindings there are decoding issues with `to_bin` since it tries to decode the binary data into utf-8.

Example:
[code]

instead, `Node.to_bin()` should just be returning a byte string

[2017-10-13 20:42] paulvojta opened #111 "libplist doesn't install plist.pyx"
libimobiledevice won't compile without plist.pyx, but libplist doesn't install it.

[2017-11-23 13:55] akshay2604 opened #112 "cannot find <cstddef> file in plist/node.h Xcode"
I am running a react native project and found this error during build. It maybe a problem with my xcode settings but i am not sure. Any insights on why this error may come up during build?
![image](https://user-images.githubusercontent.com/20161828/33164509-273e8840-d059-11e7-8edb-8c8a99d1a788.png)

here is the stack trace
![image](https://user-images.githubusercontent.com/20161828/33171351-c3e56b

[2017-11-23 13:59] akshay2604 opened #113 "cannot find <cstddef> file in plist/node.h Xcode"
I am running a react native project and found this error during build. It maybe a problem with my xcode settings but i am not sure. Any insights on why this error may come up during build?
![image](https://user-images.githubusercontent.com/20161828/33164509-273e8840-d059-11e7-8edb-8c8a99d1a788.png)

here is the stack trace
![image](https://user-images.githubusercontent.com/20161828/33171351-c3e56b

[2017-11-23 14:00] #112 closed

[2017-11-27 03:18] aDreamCatcher commented on #113
I also had the same problem.

[2017-11-27 08:59] akshay2604 commented on #113
@aDreamCatcher how did you solve it?

[2017-11-28 03:51] aDreamCatcher commented on #113
@akshay2604 Change the header file extension(xx.h -> xx.hh).

[2017-11-28 07:04] akshay2604 commented on #113
@aDreamCatcher which file ? i tried changing node.h -> node.hh but it did not work

[2017-11-28 09:17] akshay2604 commented on #113
Hey I got it working 👍 . i changed string.h to string.hh. but since this is included in the `/usr` section, it may break for someone else

[2018-01-02 13:48] #113 closed

[2018-01-15 17:34] ketan077 opened #115 "can any body help me to find which type of below plist??"
...............bplist00.........X$versionX$objectsY$archiverT$top........U$null_..setMaxConnectionEnqueue:_..NSKeyedArchiver...Troot.....#-27:@[mpu.............................

If i will decode above one then i'm creating my own plist and convert to binary plist seems different output i got

...............bplist00.........Y$archiver_..NSKeyedArchiverX$objects...U$null_..setMaxConnectionEnqueue:T

[2018-01-17 03:36] wangtua1 opened #116 "A code segment similiar to CVE-2017-6436"
Below is the function that similar to the vulnerable function.

![image](https://user-images.githubusercontent.com/16830679/35023836-763b11c2-fb77-11e7-9a66-95f41ca2756b.png)

vulnerable function:

![image](https://user-images.githubusercontent.com/16830679/35024368-0cc893a6-fb7a-11e7-8369-050cce9ff553.png)

I think there are vulnerabilities in the function, too. Therefore, there should be a patch

[2018-01-19 09:15] #115 closed

[2018-03-27 01:57] zhaohuaxishi opened #117 "redefine of uint8_t on windows with msvc"
i found following code in plist/plist.h

[code]
which cause my msvc to complain about redefine of int8_t and the value of _MSC_VER is 1912.

i don't know the first version that offer <stdint.h>，but according to [this page](https://msdn.microsoft.com/en-us/library/hh874765(v=vs.110).aspx)， Visual Studio 2012 already shipped with cstdint.

may be `#if _MSC_VER && _MSC_VER < 1700 ` will be better tha

[2018-05-20 16:38] glaubitz opened #118 "Testsuite failures on Linux sparc64 (Bus error)"
The testsuite fails on Linux sparc64 machines due to bus errors:

[code]

[2018-05-20 17:31] nikias commented on #118
Yes backtrace would be great!

[2018-05-20 21:54] glaubitz commented on #118
Interesting, I just tried with the version from git and cannot reproduce the issue there. So, it seems it was fixed after 2.0.0 which is what Debian currently ships. I'll still get a backtrace.

[2018-05-20 22:04] glaubitz commented on #118
Here's the backtrace:

[code]

The ```*(double *)``` is a classic example for unaligned access. You cast a pointer from one type to another which means the compiler can no longer make sure the access is aligned.

Looking at the current code, there is still the potentially problematic use of pointer casts. It just seems that the accesses don't become unaligned for some reason.

FWIW, ```systemd```

[2018-05-20 22:50] nikias commented on #118
There is the use of get_unaligned, maybe that is sufficient?
https://github.com/libimobiledevice/libplist/blob/master/src/bplist.c?#L271-L278

[2018-05-20 22:54] nikias commented on #118
Not sure if it would make sense to add another get_unaligned around the double and float casts?

[2018-05-21 20:21] glaubitz commented on #118
I think that would definitely be a very good idea. Whenever you make these casts, you risk of creating unaligned access which causes exceptions on some platforms. Using get_unaligned() avoids this problem.

This works for me:

[code]

[2018-07-18 11:03] hadess opened #119 "Remove or change libcnary's COPYING file"
From what I can see, all the files under the libcnary directory are LGPLv2+ licensed, but the COPYING file says GPLv2. I can cook up a patch if we agree on the license. Is there an upstream for libcnary where this could be discussed and sorted out?

[2018-07-23 03:11] muerbingsha opened #120 "node.h"
there is no node.h on my mac.

[2018-07-23 10:40] nikias commented on #120
https://github.com/libimobiledevice/libplist/blob/master/libcnary/include/node.h

[2018-07-23 10:40] #120 closed

[2018-07-25 14:12] hadess opened #122 "Coverity scan output for xplist.c"
Tried to figure this out in #121 but couldn't, so filing it here so it doesn't get lost.

[code]

[2018-07-29 04:02] wishkind opened #123 "valgrind ?"
sizeof(struct node_list_t ) = 32,  sizeof(struct list_t) =  16. the following free memory , convert type ,memory leak? only 16bytes free, left 16bytes not free. My doubt!
[code]

[2018-07-29 04:14] wishkind commented on #123
void list_init(list_t* list) {
	list->next = NULL;
	list->prev = list;
}
node_list_t* node_list_create() {
	node_list_t* list = (node_list_t*) malloc(sizeof(node_list_t));
	if(list == NULL) {
		return NULL;
	}
	memset(list, '\0', sizeof(node_list_t));

	// Initialize structur
	list_init((list_t*) list);
	list->count = 0;
	return list;
}
i think it just very simple, as below:
node_list_t *node_list

[2018-07-30 10:14] Amoystyle opened #124 "plist_to_xml is too low"

[2018-07-30 10:17] #124 closed

[2018-07-31 08:58] Amoystyle opened #125 "Plist_to_xml is very inefficient when converting to xml"
Plist_to_xml() is very inefficient when converting to xml!!!

When I create such a large document(CodeResources).

[CodeResources.zip](https://github.com/libimobiledevice/libplist/files/2244511/CodeResources.zip)

[2018-09-04 09:33] xdeng opened #126 "if node type != string plist_get_string_val crash"
char *val = NULL;
plist_t node = NULL;
plist_get_string_val(node, &val);

[code]

node type != string  or  node == NULL

strlen(NULL) crash

[2018-09-04 09:35] xdeng commented on #126
plist_get_key_val   same

[2018-10-30 09:51] xdeng commented on #83
I ran into a big plist file
xml format
40,000 nodes
file size MB
Using old library parsing will take up very high memory   200MB
I want to try the new library now.

[2018-11-16 02:01] xdeng opened #127 "It is recommended to add a function of plist_rename_key"
In some places you need to change the key。

[2018-11-16 08:36] nikias commented on #127
Can you give an example? Apple's CFDictionary API does not offer this feature so I don't see a reason to add it.
Also it can be done with removing an item from a dictionary and adding it with a different key.

[2018-11-16 08:46] xdeng commented on #127
![20181116164357](https://user-images.githubusercontent.com/2641745/48609892-209d3880-e9bf-11e8-805c-0266dfe4cd15.jpg)

[2018-11-16 08:59] xdeng commented on #127
and also  libplist memory usage is high
tinyxml2  read xml  memory usage 70M
pugixml  read xml  memory usage 50M

[2018-12-14 03:31] xdeng commented on #127
@nikias    I tested the libxml version before.    I have not tested the new version.  If I have time, I will test it.

[2018-12-14 03:32] xdeng commented on #127
@nikias  The memory usage is high because the leaf nodes have more data that is not used.

[2018-12-14 06:40] xdeng opened #129 "plist_array_get_item_index return 0 ?"
[code]
return 0;   0  Is a valid value

    /**
     * Remove an existing position in a #PLIST_ARRAY node.
     * Removed position will be freed using #plist_free.
     *
     * @param node the node of type #PLIST_ARRAY
     * @param n The position to remove. Range is [0, array_size[. Assert if n is not in range.
     */
    void plist_array_remove_item(plist_t node, uint32_t n);

[2018-12-14 06:49] xdeng commented on #129
[code]

[2018-12-14 09:47] xdeng opened #130 "It is recommended to add a function of plist_array_remove_item2"
I now need to find multiple items in the array and delete them.
[code]
This will cause problems, Index position is not reliable

[code]
This will be very troublesome

[2018-12-14 09:54] xdeng commented on #130
[code]
Simple and fast
reference:
plist_array_get_item_index
plist_array_remove_item

[2018-12-17 00:00] nikias commented on #109
Fixed with commit 9c8d7a6c44b0eb22ac77ca6ca5c7c29edd5f685e.

[2018-12-17 00:00] #109 closed

[2018-12-17 00:08] nikias commented on #119
libcnary has it's own COPYING in the libcnary subfolder which says
[code]
so I don't think this is any issue here. We have COPYING and COPYING.LESSER in the main source tree. However in fact there are just two files, `m4/ax_pthread.m4` and `m4/ac_python_devel.m4` which both are GPLv3. Now I wonder if we should remove the main COPYING (which is GPLv2), rename COPYING.LESSER to COPYING and add _anot

[2018-12-17 01:51] nikias commented on #130
Your first example will work if you delete the nodes in reverse order.
I will think about the other idea...

[2018-12-20 11:07] Amoystyle commented on #125
Good Job!!!

[2018-12-20 11:07] #125 closed

[2018-12-21 12:24] xdeng opened #131 "plist_dict_next_item very inefficient"
When the amount of data exceeds 10,000,  every time you look from scratch, the efficiency is very low.
I tried to change it to
[code]
Run time can be reduced by half,  But still not fast enough

[2018-12-21 12:30] xdeng commented on #131
I think libplist has a lot to optimize.

[2018-12-23 01:52] nikias commented on #131
See 3f967317479acc4b98594b4b86a2787cbd2aa1f1.

[2018-12-23 01:52] #131 closed

[2018-12-24 01:09] xdeng commented on #131
@nikias Great! The code is the same as I thought.

[2019-01-21 01:52] nikias commented on #117
Without further checking I pushed this with commit afec7339b830461042e5af9cb9561563cf3ba28d.

[2019-01-21 01:52] #117 closed

[2019-01-21 02:03] nikias commented on #118
I was wondering if I missed something here. There is already a get_unaligned() when reading the original value (original commit 292994b09fcfac64e14de3b20eab7821614e33dd). It was reported by ASAN so I added it there; I think this should be enough. It will be stored in a new local unsigned char[8] which should be properly aligned.

[2019-01-21 02:06] nikias commented on #108
This is because clang is used for adding AddressSanitizer and required to properly build libplist for fuzzing. If you want to compile with GCC, just pass CC=gcc CXX=g++ to ./autogen.sh or ./configure.

[2019-01-21 02:06] #108 closed

[2019-01-21 04:12] nikias commented on #123
Hi, this is because initially all the list logic stuff was supposed to go into list.c/h but it actually got implemented in node_list.c. I pushed commit bec850fe399639f3b8582a39386216970dea15ed that removes list.c+list.h completely.

[2019-01-21 04:13] nikias commented on #123
I think there is no memory leak here.

[2019-01-21 04:13] #123 closed

[2019-01-21 10:18] #119 closed, assigned to nobody

[2019-01-21 10:22] glaubitz commented on #118
It seems that the issue was fixed in a different way. The package now builds fine in Debian:

[2019-02-14 02:20] galaxy001 commented on #126
maybe `assert(length == strlen(*val));`, I got a "__strlen_avx2" segmentation fault.

[2019-04-03 17:49] UnitedMarsupials opened #134 "Ancient typo in python version-detection"
[FreeBSD ports](https://www.freshports.org/devel/libplist) have been applying this patch to `configure` for years. Because the packages on the [official web-site](http://www.libimobiledevice.org) are stale, I'm modifying the ports to fetch the latest code from GitHub instead. There is no `configure`, so the patch below patches the problem at the source:
[code]
The same diff needs to be applied to

[2019-04-03 22:52] nikias commented on #134
No idea how this never got noticed. Instead of this fix I updated the whole m4 file to the newer `ax_python_devel.m4`.

[2019-04-03 22:52] #134 closed

[2019-04-22 02:09] wang111588 opened #135 "fatal error: 'cstddef' file not found [xcode 10, mojave]"
when I run ` $ brew install --HEAD usbmuxd `,  commend line show  these errors

OS 10.14.4 (18E226)
xcode Version 10.2 (10E125),  NO xcode9

[code]

I guess i need install libstdc++ or other library, but i don't kown  whar i need install and how i install them or  where put them.
other issue didn't solved my problem.
thanks a lot, my bad endlish~

[2019-05-16 02:05] #126 closed

[2019-05-16 02:08] nikias commented on #118
Seems fixed according to previous comment. Closing.

[2019-05-16 02:08] #118 closed

[2019-05-16 02:28] nikias commented on #116
This is different. The highest (theoretical) value next_size could become is 1 << 15 = 32768. Even on 32 bit platforms this would not be a negative number which caused the problem with CVE-2017-6436.

[2019-05-16 02:28] #116 closed

[2019-05-18 22:31] nikias commented on #129
This function basically only used by the C++ implementation. I changed the function to return UINT_MAX (0xFFFFFFFF) if the node index can't be determined. See commit 23e5a7636bba1565d000adcd4c3debc0788398c5.

[2019-05-18 22:31] #129 closed

[2019-05-18 23:25] nikias commented on #130
See commit 9555e71d9887d0d5caf87341dc47d9ad313bb609. I named it plist_array_item_remove. You can use it pretty easily like this:
[code]

[2019-05-18 23:25] #130 closed

[2019-05-19 23:17] nikias commented on #127
I added a new function `plist_dict_item_get_key()` that returns the key node for a given PLIST_DICT item. Example:
[code]
or in a classical iterator loop:
[code]
See commit ea37ed01b8c7e05078620ed039899ddff48eac1c.

[2019-05-19 23:17] #127 closed

[2019-05-23 00:34] nikias commented on #111
It doesn't need plist.pyx.

[2019-05-23 00:34] #111 closed

[2019-05-26 14:29] Cogitri commented on #118
Hello,

we hit about the same thing on Alpine, but on armv7. We're using the 2.0.0 release tarball for building, here's the log:

[code]

Sadly I can't provide you with a backtrace for that because I don't have a ARMv7 machine, this is from a CI run.

[2019-05-26 18:21] glaubitz commented on #118
@Cogitri Can you try whether a current git snapshot works for you? Debian is using git snapshots for both libplist and libimobiledevice.

[2019-05-26 18:26] Cogitri commented on #118
Hm, maybe it's time to a new release of libplist then. I don't have a iDevice to test it, so I'd rather not do the validation work for this.

[2019-05-26 18:30] glaubitz commented on #118
FWIW, gcc-9 has a new warning option called ```address-of-packed-member``` which will hopefully reduce the amount of code with broken alignment in the future.

[2019-05-29 11:23] mexmer opened #136 "cannot build under msys2 (mingw64), implicit declaration of function '_spawnv'"
[code]

[2019-05-29 11:41] mexmer commented on #136
ok, looks solution was to use mingw toolchain, instead of devel toolchain
[code]

[2019-05-29 11:41] #136 closed

[2019-06-03 22:18] stratakis opened #137 "Fails to build from source with Python 3.8"
Currently on Fedora we are testing rebuilding the distro against Python 3.8 and libplist is one of the packages that failed to build from source.

This seems to be related to libplist not being able to link against libpython with Python 3.8, as python-config --ldflags does not export -lpython [anymore
](https://github.com/python/cpython/commit/8c3ecc6bacc8d0cd534f2b5b53ed962dd1368c7b)

More relate

[2019-06-09 12:01] stratakis commented on #137
I realized this has been fixed by 42bb64ba966082b440cb68cbdadf317f44710017 thus closing this

[2019-06-09 12:01] #137 closed

[2019-06-11 04:20] paulvojta opened #138 "libplist doesn't install plist.pxd"
libimobiledevice won't compile without plist.pxd, but libplist doesn't install it.

To reproduce:

This is on Debian stretch (stable), amd64 architecture.  The python-all-dev and cython packages are installed; python-plist is not.

0.  Check for plist.pxd (it should be absent from both places):

        ls -l /usr/{local/,}include/plist/cython/plist.pxd

1.  Download libplist, libusbmuxd, and libi

[2019-06-14 11:52] Hiepars opened #139 "autogen error"
libtoolize: putting auxiliary files in '.'.
libtoolize: linking file './ltmain.sh'
libtoolize: putting macros in 'm4'.
libtoolize: linking file 'm4/libtool.m4'
libtoolize: linking file 'm4/ltoptions.m4'
libtoolize: linking file 'm4/ltsugar.m4'
libtoolize: linking file 'm4/ltversion.m4'
libtoolize: linking file 'm4/lt~obsolete.m4'
libtoolize: Remember to add 'LT_INIT' to configure.ac.
libtoolize: C

[2019-06-17 08:11] #139 closed

[2019-06-17 08:13] Hiepars commented on #139
restarting my computer fixed this issue. I dont know why.

[2019-06-22 19:05] andreasg123 commented on #138
I've run into the same issue in Ubuntu 18.04 with the difference that I'm trying to get it to work in Python 3. I modified running `autogen.sh` accordingly:

[code]

This issue is also discussed here: https://github.com/libimobiledevice/libimobiledevice/issues/283

The solution of installing `python-plist` doesn't work for me because I want to make it work for Python 3 (no `python3-plist`).

[2019-06-22 23:13] andreasg123 commented on #138
This comment provides a workaround: https://github.com/libimobiledevice/libimobiledevice/issues/283#issuecomment-198262395

After `sudo make install`, run these commands:
[code]

I tried to investigate how to fix the issue more permanently but I'm not familar enough with `automake`. `plist.pxd` is included in `EXTRA_DIST` in `cython/Makefile.am` but those files are not copied anywhere as part of `

[2019-06-23 06:08] paulvojta commented on #138
Correct about `EXTRA_DIST`:  That variable lists EXTRA files that are to be DISTributed (in the tarball created by `make dist_gzip` and other similar targets).
I'm not all that familiar with `automake` either, but the following patch seems to fix the problem:

        --- libplist-master/cython/Makefile.am  2019-05-19 16:24:15.000000000 -0700
        +++ libplist-master-new/cython/Makefile.am

[2019-07-24 09:12] PhoenixBaymax opened #141 "master version make cython fail on MacOS13"
env:macos13,xcode10.1,python3,cython0.29.6.
I git clone https://github.com/libimobiledevice/libplist.git in 20190723,
run env PYTHON=/usr/local/bin/python3 PYTHON_VERSION=3.7 ./autogen.sh,---->ok
run make ,--->fail,like
[code]
but  I download release2.0.0 to run make, it successed.

[2019-07-24 16:49] nikias commented on #141
Yes I noticed this too. Working on a fix.

[2019-07-26 18:41] sctol opened #142 "libplist plist_copy_node() segmentation fault"
For nodes of type PLIST_ARRAY or PLIST_DICT that have a hashtable set, plist_copy_node() does not correctly build the hashtable of the new node.

When the node to be copied has a hashtable, plist_copy_node() allocates memory for the new node's hashtable and then populates the new node's hashtable using the children of the old node.   Later it recursively copies the old node's children into the new

[2019-08-08 07:15] nikias commented on #141
Can you try with latest? I pushed a fix with commit 6c684cc61a1189cc72d8609d49f3eb7cd954abab.

[2019-08-08 09:17] nikias commented on #138
Should be fixed with commit 811a53aefe4693113ef723783c151e473853a398. Let me know if not.

[2019-08-09 21:46] nikias commented on #142
See commit e1a5d60e98b72fe110391da848c77cc36665bd66, that should fix it. Thanks for reporting.

[2019-08-09 21:46] #142 closed

[2019-08-10 05:23] paulvojta commented on #138
Verified fixed -- thanks!

Paul Vojta

On Thu, Aug 08, 2019 at 02:17:52AM -0700, Nikias Bassen wrote:

[2019-08-10 09:52] #138 closed

[2019-08-11 12:21] nikias commented on #135
The Xcode toolchain ships cstddef so I don't really understand why it can't find it...
```/Applications/Xcode.app/Contents/Developer//Toolchains/XcodeDefault.xctoolchain/usr/include/c++/v1/cstddef```

[2019-08-11 20:29] nikias commented on #104
I don't have the ndk handy but should linking already fail for libplist.so ?

[2019-09-16 13:51] Keruspe opened #143 "New release?"
There are numerous fixes since last release in 2017. Is it planned to issue a new release at some point?

[2019-10-08 15:52] mayfgb opened #144 "How to Skip Activation for IOS 13"
Hello,

I am using your lib and before i was capable of skipping the activation assistant using the pList command and since IOS 13 it is not longer working.  i wondering what have change ? what i need to send now ?

Can someone help me ?

Marc

[2019-11-05 02:20] nikias commented on #141
Closing, assuming fixed.

[2019-11-05 02:20] #141 closed

[2019-11-05 02:30] nikias commented on #144
Whatever you are doing it has nothing to do with libplist and certainly is not a bug.

[2019-11-05 02:30] #144 closed

[2019-11-06 21:38] dnicolson opened #146 "Loss of precision when parsing or writing real values"
Values of type `real` can lose precision if they contain more than 6 decimal places.  After using the `plist_test` binary, the value `8263.0072447640268` becomes `8263.007245` and the value `0.0` becomes `0.000000`.

The following commands:
[code]

Give the following output:
[code]

[precision-real.plist.zip](https://github.com/libimobiledevice/libplist/files/3816826/precision-real.plist.zip)

[2019-11-07 00:53] nikias commented on #146
Please check b7c802f1b7cdf8a271b148d4375c4309aefc5e0d. The input and output size will probably still differ, but it now handles 0.0 and the others cases like the official plutil tool.

[2019-11-07 02:02] nikias commented on #135
Try this: `xcode-select --install`, that should fix the issue.

[2019-11-07 02:02] #135 closed

[2019-11-07 11:34] dnicolson commented on #146
This works correctly now and the output size is the same. The attached plist had some whitespace inconsistencies, running it through `plutil` twice and then `plist_test` produced the same file size.

[2019-11-07 11:34] #146 closed

[2019-11-11 07:50] PhoebeHui opened #147 "Do you have a plan to merge libimobiledevice-win32/libplist to libimobiledevice/libplist"
@qmfrederik, I noticed that libimobiledevice-win32/libplist contains some fixes for build issues on windows, that doesn't merge to libimobiledevice/libplist, do you have a plan to merge these changes?

[2019-11-11 12:28] qmfrederik commented on #147
@PhoebeHui I'm all for merging the changes upstream, though it's up to @nikias to decide whether it's something he wants to do or not.

[2019-11-12 20:44] dnicolson opened #148 "Compilation issues with Python bindings"
The following error message appears when importing plist:
[code]

Cython was setup using the following command and script:
[code]
[code]

Alternatively using `pyximport` results in the following error:
[code]

macOS 10.14.6 (18G1012).

[2019-12-10 07:21] xdeng opened #151 "plist_to_bin optimization"
The performance of the plist_to_bin function is poor when the plist file has 320000 nodes，
I tried to modify the hashtable function and it was half faster.

hashtable.h
[code]

hashtable.c
[code]

[2019-12-10 07:23] xdeng commented on #151
Very badly written for reference only. :(

[2019-12-16 20:50] neheb opened #152 "HTTP instead of HTTPS in xml files"
Is referencing http://www.apple.com/DTDs/PropertyList-1.0.dtd correct? It should be https://www.apple.com/DTDs/PropertyList-1.0.dtd AFAIK.

[2019-12-16 23:25] nikias commented on #152
Yes, that's what Apple officially uses, see https://opensource.apple.com/source/CF/CF-1153.18/CFPropertyList.c.auto.html:
[code]

[2019-12-16 23:26] #152 closed

[2019-12-18 03:00] nikias commented on #148
It works fine for me... something must have been built incorrectly. which cython version is it?
[code]

[2019-12-18 07:47] dnicolson commented on #148
I'm using a different setup at the moment, is it possible to see some example code of how it is supposed to be used with Cython?

[2019-12-18 08:18] nikias commented on #148
If cython is installed and you build libplist (and did not specify --without-cython during configure/autogen) it compiles a python module for you. When you install it appropriately so that python can find it (usually `sudo make install` does) you can just do:
[code]

[2019-12-18 22:23] dnicolson commented on #148
First I removed the other instances of Python (including from Homebrew dependencies). This is running on macOS 10.15.2 (19C57).

`sudo easy_install cython`
[code]
`git clone git@github.com:libimobiledevice/libplist.git`
`cd libplist`
[code]

At this point both `python` and `python3` cannot run `import plist`.

`cd cython`
[code]
`python setup.py build_ext --inplace`

Now, the following occurs:
[co

[2020-01-15 06:17] xdeng opened #153 "plist_copy Proposed modification"
[code]

[code]

[2020-02-25 06:24] Merculous opened #154 "Unable to compile plist_cmp.o"
ld: warning: ignoring file ../libcnary/.libs/libcnary.a, building for macOS-x86_64 but attempting to link with file built for macOS-x86_64
Undefined symbols for architecture x86_64:
  "_node_first_child", referenced from:
      _compare_plist in plist_cmp.o
  "_node_next_sibling", referenced from:
      _compare_plist in plist_cmp.o
ld: symbol(s) not found for architecture x86_64
clang: error: lin

[2020-02-26 09:30] Merculous commented on #154
Ok, so it compiled successfully after removing cython.

[2020-03-17 20:11] dnicolson commented on #148
The above compilation steps are not necessary. On Ubuntu no special steps are required, the compiled files are written to and read from the `dist-packages` directory.

On macOS the compiled files are written to the `site-packages` directory but the `PYTHONPATH` environment variable must be defined for imports to work correctly:

`export PYTHONPATH=$PYTHONPATH:/usr/local/lib/python2.7/site-packages

[2020-03-17 20:11] #148 closed

[2020-03-30 18:03] dnicolson opened #155 "PyThreadState_Get: no current thread and other issues with different Python installations on macOS"
When using the package manager [pyenv](https://github.com/pyenv/pyenv), I have been unable to build the `plist` module linked to the correct version of Python. It is possible to build the module with Homebrew or the system Python installation but not without some changes.

Python 2.7.16 has been used below for all methods (Python 3 has other issues).

### pyenv
Many combinations of `LDFLAGS` and o

[2020-05-13 09:44] pekn opened #157 "Latest libplist does not link properly"
Latest libplist does not link properly

The following error occurs:

(Tested with Ubuntu 18.04)

Should libplist link against libm as well?

[2020-05-13 10:33] nikias commented on #157
Hi. It builds fine on x86_64, but it looks like there's a CPU instruction that handles it. Can you change `fmin` in the code to `__builtin_fmin` and see if that will make it work without libm?

[2020-05-13 10:37] nikias commented on #157
Also according to this: https://gcc.gnu.org/onlinedocs/gcc/Other-Builtins.html
GCC should automatically handle fmin and some others as builtin functions... so hmm...

[2020-05-13 10:40] pekn commented on #157
I changed to __buildin_fmin and still gives same error.

[2020-05-14 13:16] zinglax commented on #157
Out in left field here with this stuff but is fmin part of the math.h? if so
[this says to link the math library](https://doingmyprogramming.wordpress.com/2013/06/04/undefined-reference-to-math-h-functions-when-things-work-until-they-dont/)
by adding the -lm flags when compiling with gcc

[2020-05-14 15:59] grubec commented on #157
I can confirm the error message on Ubuntu 18.04 on a x64 as well as arm architecture (raspian buster)

What struggles me is that I can't find the fmin in include/plist.h when I clone the master branch. It should be in with commit 303924413fcac2670dc6baf61d65d21545aa082f, according to the changes added in line 1250.

[2020-05-14 16:02] nikias commented on #157
@grubec it's in plist.c not in plist.h
@zinglax @pekn I just pushed commit ce1092a5fc83e1b5590128b5f642200c382451a6 which should add `-lm` to the linker flags if required. Let me know if this works.

[2020-05-14 16:04] grubec commented on #157
@nikias Thank you very much! ... just figured out my mistake as well ;)

[2020-05-14 16:09] grubec commented on #157
tried it, but is still gives me a:
  CC       plistutil.o
  CCLD     plistutil
../src/.libs/libplist.so: undefined reference to `fmin'
collect2: error: ld returned 1 exit status
Makefile:418: recipe for target 'plistutil' failed
make[2]: *** [plistutil] Error 1

same as if I add -lm manually :(

[2020-05-14 16:13] nikias commented on #157
Yes... I just started an old ubuntu 12.04 VM and it shows me the same. Working on it.

[2020-05-14 17:03] nikias commented on #157
Can you try with commit https://github.com/libimobiledevice/libplist/commit/a2d66545d1303dd2cb5e0d56761aaf8a96bbc282 ?
Make sure to also do make clean and run autogen.sh again.

[2020-05-14 18:06] grubec commented on #157
Yes, that did the trick.
Thanks @nikias

[2020-05-14 23:06] nikias commented on #157
It also works on my ubuntu 18.04 x86_64 but my compiler just replaces it with a floating point CPU instruction 🤷‍♂️
With the check I added it will add -lm if required.
Anyway, @pekn it should also work for you now. Feel free to re-open if the problem persists.

[2020-05-14 23:06] #157 closed

[2020-05-14 23:08] nikias commented on #153
Actually seems like a good idea to me to change it like that.

[2020-05-24 23:58] nikias commented on #153
See commit ea5b54b47acec3bebd3e8ae3fccd66a60ec9ff89.

[2020-05-24 23:58] #153 closed

[2020-05-26 14:15] nikias commented on #143
Coming.

[2020-05-26 14:15] #143 closed

[2020-05-28 15:04] Artoria2e5 commented on #151
Any interest in finishing this?

[2020-05-28 15:08] nikias commented on #151
Yes. This will be addressed after the next release which is due in a few days.

[2020-05-28 15:27] Artoria2e5 commented on #55
Let me take a stab at this. No results guaranteed.

[2020-06-18 15:52] qmfrederik opened #162 "CMake build system?"
I was wondering whether you'd consider using CMake as the build system for libplist and other libimobiledevice projects?

One of the advantages of CMake is that it's a bit easier to use other toolchains on non-Unix-like systems (like msvc on Windows).

[2020-06-20 05:34] neheb commented on #162
My vote goes to meson for the faster compiles :).

I have an incomplete WIP branch that does this. I doubt I'll finish it though.

[2020-06-23 09:22] ejurgensen opened #163 "Commit 137716d (rename libplist.pc) breaks builds using pkgconfig in configure"
Builds that have a configure script that use pkg-config to check for libplist are broken by the renaming of libplist.pc to libplist-2.0.pc, since e.g. PKG_CHECK_EXISTS([libplist]) will fail.

See discussion here https://github.com/libimobiledevice/libplist/commit/137716df3f197a7184c1fba88fcb30480dafd6e0

[2020-06-25 18:49] dandv opened #165 ""You probably have to install the development version of the Python package""
Getting the same error as #66 (which is horribly formatted, so I thought I'd file a new issue) on Ubuntu 20.

One workaround was to run the `sudo apt-get install doxygen cython` line, but I don't need any of those. I just want to install this lib because https://github.com/libimobiledevice/libusbmuxd/issues/49, which I need to install https://github.com/google/ios-webkit-debug-proxy (I know, lots

[2020-07-22 15:57] Artoria-OwO opened #166 "Dylib link problem of MacOS installation through Homebrew."
When I installed libplist@2.2.0 today, I found there is no soft link to libplist-_VERSION_.dylib in `/usr/lib`, which caused my C code using libplist as dylib's compile failed while compling flags set to -lplist/-lplist++.
Error code:
`ld: library not found for -lplist++`
`clang: error: linker command failed with exit code 1 (use -v to see invocation)
make: *** [patcher] Error 1`
Consider automati

[2020-07-23 01:52] idears-org commented on #166
Same issue on my end, but found that soft links located on /usr/local/lib

[2020-07-23 05:47] Artoria-OwO commented on #166
@idears-org I checked it out in `/usr/local/lib`, the soft links are:
`libplist++-2.0.3.dylib
libplist++-2.0.a
libplist++-2.0.dylib
libplist-2.0.3.dylib
libplist-2.0.a
libplist-2.0.dylib`, which means you have to specify the version while refering to this dylib. A better way to do this is to create a soft link `libplist.dylib` or `libplist++.dylib` to the latest version instead of just moving a co

[2020-07-28 10:24] idears-org commented on #166
Thanks for your information, I've use your workaround without change any thing under lib folder but just modify my makefile to use the version 2.0.3 `-lplist++-2.0.3`, It works.
But Yes, the better way is automatically soft link the latest version to `libplist.dylib` and `libplist++.dylib` in the installation progress. Hope the author can fix this.

[2020-08-01 06:33] Merculous opened #167 "Node.cpp:21:10: fatal error: 'cstdlib' file not found"
OS: Ubuntu 18.04.4

I've managed to fix this before by setting some environment variable(s), but I forgot what I did.

libtoolize: putting auxiliary files in '.'.
libtoolize: linking file './ltmain.sh'
libtoolize: putting macros in AC_CONFIG_MACRO_DIRS, 'm4'.
libtoolize: linking file 'm4/libtool.m4'
libtoolize: linking file 'm4/ltoptions.m4'
libtoolize: linking file 'm4/ltsugar.m4'
libtoolize: lin

[2020-08-01 06:41] Merculous commented on #167
Ok, so running `./configure CC=gcc CXX=g++` will fix this issue. Seems like clang is either messed up for me or just not working at all for me. I think that's how I fixed the issue the last time.

[2020-08-16 04:23] DanTheMann15 opened #169 "fails with several errors to compile when using clang on msys2"
this is odd. but when i attempt to compile libplist statically using clang instead of gcc, i end up with several errors like:
`warning: redeclaration of 'what_to_what' should not add 'dllexport' attribute [-Wdll-attribute-on-redeclaration]`

a good example of this is here, but see the full logs for more:
`xplist.c:513:16: warning: redeclaration of 'plist_to_xml' should not add 'dllexport' attribut

[2020-08-18 17:53] Schlaubischlump opened #170 "Catalyst Support"
This is most likely not a bug, but rather a help request for compiling libplist for macOS Catalyst. The source code should be compatible, because there is already an iOS port of libplist. I'm trying to compile it on macOS Big Sur with the following command:

[code]

Which yields the error:

[code]

Does anybody know which flag I'm missing ?

[2020-08-19 21:12] jwarner112 opened #171 "Failure to 'make' on Ubuntu 18.04"
Hey all,

Trying to build `libplist` on my long road to get beyond the "copy stuck at 0%" bug caused by iOS 13. I've hit an error that I haven't yet been able to get past. I've recorded my kernel info and autogen/make transcripts in a [gist](https://gist.github.com/jwarner112/af33de4094ace23bc0f2f7bbcdab382c).

Any idea what I need to do?

Thanks!

[2020-08-19 22:57] jwarner112 commented on #171
Completely lost on why but running `sudo ./autogen` before `sudo ./make` seems to have let it build?

[2020-08-19 23:21] Schlaubischlump commented on #170
For anyone else wondering. This seems to work:

[code]

As you can see, the c++ part and the minimum macOS version was missing. It now compiles, I still need to test if it works. If it does indeed work, I will close the issue.

[2020-08-20 05:33] jwarner112 commented on #171
Final update: I did all this to be able to transfer a large video onto my iPad for offline viewing; Even after I got everything built, file transfers would still hang at 0% when using Nautilus. I was able to eventually get the file onto the iPad using ifuse and rsync, however. So I'm cool.

[2020-09-05 23:24] Merculous commented on #167
Ok, compiling binutils from source fixed this issue (worked without clang).

[2020-09-05 23:24] #167 closed

[2020-09-12 07:58] XanaduAPI opened #172 "Problems of memory release in Win32"
The following uses machine translation

In Win32, an exception is caused when one module provides memory and another module frees it.

So, can we consider adding plist_ free_ xml(void* _ XML) and plist_ free_ bin(void* _ bin) ?

I found that most of the mainstream open source libraries adopt this model.

[2020-09-12 11:13] nikias commented on #172
See:
https://github.com/libimobiledevice/libplist/blob/master/include/plist/plist.h#L653
https://github.com/libimobiledevice/libplist/blob/master/include/plist/plist.h#L670

[2020-09-12 12:36] XanaduAPI commented on #172
@nikias
I'm sorry, I'm still using version 2.0.0, which has delayed your time.

[2020-09-12 12:36] #172 closed

[2020-10-21 10:33] willamowius opened #173 "Should cpython be listen as required package ?"
In the build instructions cpython is listed as option when you need the documentation, but I couldn't build without it, so I guess it should be added to the first step with the required packages.

[2020-11-05 10:06] XanaduAPI opened #174 "Android Build"
How to compile on Android? For example, with NDK, maybe there should be one Android.mk Or Application.mk ?

[2020-11-16 19:58] callen918 opened #175 "Linux Ubuntu: Can't install libimobiledevice"
**When following the README, I receive the following error:**

[code]

[2020-11-24 00:41] nikias commented on #175
Did you compile and install libplist? Your distro's package is most likely outdated.

[2020-11-24 00:42] #171 closed

[2020-11-24 01:16] nikias commented on #122
I am closing this. I went through the code again and the NULLing of the pointer is totally fine, in all cases in this branch the storage is assigned to either parent to be processed later or added as an actual subnode to a container type.

[2020-11-24 01:16] #122 closed

[2020-11-30 15:16] Fidetro opened #176 "Failed to build use arm-none-eabi-gcc"
I want to build arm static and use following command to build libplist for DTK,
[code]
but error:
[code]

Can someone tell me what to do?

Thanks

[2020-11-30 15:44] nikias commented on #176
Try setting `CC=/path/to/your/cross/compiler/bin/gcc`

[2020-11-30 16:17] Fidetro commented on #176
@nikias
Is not worked.
[code]

[2020-12-01 22:52] bkaradzic commented on #175
This happens when libplist is built from source and installed.

[2020-12-03 17:40] PavlikVasil commented on #175
I have similar trouble, just No package 'libplist' found , although libplist 2.0 is installed
Tell please how fix it

[2020-12-03 17:57] PavlikVasil opened #177 "Mac OS: can't instal idevicelocation"
During installation I get error:

`checking for libplist >= 0.15... no
configure: error: Package requirements (libplist >= 0.15) were not met:
No package 'libplist' found `

I've installed due **brew libplist install** and made **brew link libplist** so I have in pkg-config libplist-2.0
Please help

[2020-12-03 21:14] nikias commented on #175
The configure output tells you what to do. Either you set `PKG_CONFIG_PATH` to the location where libplist-2.0.pc is located, or you set `libplist_CFLAGS` so the compiler finds the includes, and `libplist_LIBS` so the linker finds the libs.
So you said libplist-2.0 is installed; then you need to know where it is installed. If it was installed in /usr/local prefix, then you can run:
[code]

[2020-12-04 08:58] PavlikVasil commented on #175
After run PKG_CONFIG_PATH=/usr/local/lib/pkgconfig ./autogen.sh   I got error `Package 'openssl', required by 'libimobiledevice-1.0', not found` although I have it too

[2020-12-04 10:35] #177 closed

[2020-12-04 12:36] nikias commented on #175
You need to install `libssl-dev`.

[2020-12-04 13:18] PavlikVasil commented on #175
openssl contained libssl

After trying `brew link openssl` I got
`Warning: Refusing to link macOS provided/shadowed software: openssl@1.1
If you need to have openssl@1.1 first in your PATH run:
  echo 'export PATH="/usr/local/opt/openssl@1.1/bin:$PATH"' >> ~/.zshrc

For compilers to find openssl@1.1 you may need to set:
  export LDFLAGS="-L/usr/local/opt/openssl@1.1/lib"
  export CPPFLAGS="-I/usr/

[2020-12-06 15:18] #176 closed

[2020-12-28 12:41] dmacks commented on #166
The library is apparently actually called "libplist-2.0" not "libplist", just like glib2 is "libglib-2.0" and there is no "libglib.dylib". The supplied .pc publish the correct -l flags for you. Is homebrew (or whatever specific you are compiling) trying to hardcode flags directly rather than relying on that standard tool?

[2020-12-28 12:53] dmacks opened #185 "-I misordering bug causes -Werror failure"
On OS X 10.13 with a previous version (1.x) of libplist installed:
[code]
The problem is that the older plist.h in the systemwide directory is being included rather than the one in the source directory because -I../include is after -I/sw/include. If I get rid of -Werror, I see a weird subsequent flag also:
[code]
Why is -I going to the linker?

All of this is because tools/Makefile.am (and some ot

[2020-12-28 12:58] dmacks commented on #185
That's also why I see the following during compiling in the src subdir:
[code]
Notice all the -W flags are used only for C not for C++ because again they are being passed as AM_CFLAGS ("C language") not AM_CPPFLAGS ("CPP stage" all languages).

[2021-01-05 06:11] #174 closed

[2021-02-06 00:32] nyuszika7h opened #186 "Assertion failed when converting certain profiles from STDIN"
plistutil seems to be buggy when reading from standard input and converting between XML and binary formats.

[code]

[2021-02-06 02:28] nikias commented on #186
Thanks for reporting this, good catch. I pushed commit 501f8c8 that should prevent the heap overflow, and also improves the buffer reallocation.

[2021-02-06 10:44] nyuszika7h commented on #186
Just ran the new commit through ~8000 profiles, seems to be fine now. :)

[2021-02-06 10:45] #186 closed

[2021-02-06 12:06] nikias commented on #186
This was where it overflowed for me:
https://github.com/libimobiledevice/libplist/blob/ced16994f3787853bb74f8ec3baa7f2338292340/tools/plistutil.c#L188

But the reallocation was also pretty inefficient, once the BUF_SIZE was reached it would reallocate with +1 byte every time it reads another byte from STDIN, so I changed it to start with 4k and realloc +4k when needed.

[2021-02-16 20:25] James-Hudson3010 opened #187 "SIGSEGV (Address boundary error) when trying to import plist with python"
I built libplist with the python bindings and when I try to import it, it crashes.

My simple script is:

[code]

with the path append, python tells me the module is not found.

A crash report is generated:

[code]

[2021-02-22 13:20] James-Hudson3010 opened #188 "Cannot build against Python.framework on macOS"
On macOS, it is common to have a python installation which creates Python.framework. For example, the .dmg installers from python.org will do this. It can also be done using pyenv with (for example):

`PYTHON_CONFIGURE_OPTS="--enable-framework" pyenv install 3.8.5`

If I use a build from pyenv with the Python.framework (version does not appear to matter) and then call autogen, I get the following

[2021-03-03 11:33] Alex-Vaduva commented on #48
As an FYI:
This is only available for LGPL version 3 (which is specified at the beginning of the license). For LGPL version 2.1 (and 2.0), it is not needed to include the full text of GPL-2.0

[2021-03-10 22:05] sctol opened #189 "Two related Y2038 issues in property lists"
I noticed couple of issues with definition of plist_new_date(int32_t secs, int32_t usecs) that will manifest on January 18, 2038.

secs is defined as the number of seconds since Jan 1, 1970.   usecs is in microseconds.   Both are passed in as signed 32-bit values.   secs will overflow the sign bit, going negative near the end of January 18, 2038 UTC, making an internal Plist date value representat

[2021-03-27 13:14] zhangyoufu opened #190 "respect /usr/bin/cc and /usr/bin/c++"
I ran into some linking issue when building tsschecker for Linux in CI environment. Like this:

While the same building procedure in a clean docker container with minimal installed packages does not produce any error.

It blows my mind when I found the following output from `./configure`

And the following code

https://github.com/libimobiledevice/libplist/blob/ebf2fdb938c755026668c8418da290e6870c

[2021-05-16 07:18] zhuamaodeyu opened #191 "create module xcode not found cstddef"
I am creating a private swift pods lib，incloud libplist， I need to initialize libplist as a module， but i create modulemap file， is not work，

error： 'cstddef' file not found

Steps：
1. run `pod lib create XXX`, swift version.
2. build libplist to static library
3. copy static library to pod
4. create module.modulemap.
[code]

5. build example

result.  failed: 'cstddef' file not found

[2021-05-25 11:29] rpayne381 opened #192 "Windows Msys2 - Unable to Make libplist 2.2.1"
Having issues with the make process for 2.2.1. older versions worked for me
cd ~/libplist
git checkout .
git pull
./autogen.sh --without-cython
make install

`Configuration for libplist 2.2.1:
-------------------------------------------

  Install prefix ..........: /mingw64
  Debug code ..............: no
  Python bindings .........: no

  Now type 'make' to build libplist 2.2.1,
  and then 'make

[2021-06-08 09:14] nikias commented on #190
Fixed with commit 992eaad3d68d2a4d40cd7156e3d5a0c5b3963aa5.

[2021-06-08 09:14] #190 closed

[2021-07-13 10:55] nikias commented on #192
Not sure what you are doing but you somehow mixed up the architectures:
[code]
Have you tried to do a `make clean` to build everything from scratch?

[2021-07-15 02:56] lb815a commented on #192
got the same error, win64+msys2. have anyone solved it？

[2021-07-29 06:47] Amoystyle opened #195 "PLIST_DATE Parsing crash！！！"
[code]

**Parsing crash**
[com.apple.Bluetooth.plist.zip](https://github.com/libimobiledevice/libplist/files/6898474/com.apple.Bluetooth.plist.zip)

[2021-08-06 09:51] #195 closed

[2021-09-11 14:53] kylebakerio commented on #165
likewise, ubuntu 20.10, trying to follow this guide: https://onestepcode.com/debugging-ios-on-linux/

getting stuck running ./autogen.sh

(note: had to `pip install cython`, wasn't in apt source anymore, but logs here show cython found fine, so seems to not be relevant. otherwise have followed guide exactly to this point.)

[code]

[2021-10-01 01:22] Merculous commented on #154
I get this issue even without cython on the latest version of Catalina. Reopening as I'm not sure how to fix this (I remembered a while back but forgot). I'm not sure exactly what you'd like for me to add on here to help with debugging my issue so I'll post once I get a reply.

[2021-10-01 01:27] Merculous commented on #154
I'm using the latest commit also. Compiling node from source via homebrew also gives the same issue.

[2021-10-05 08:45] XanaduAPI commented on #162
I think we need an adjustment so that it can work on MSVC or other compilers?
For example:

#if defined(_MSC_VER)
__pragma(pack(push, 1))
typedef struct{
#else
typedef struct __attribute__((packed)) {
#endif
*****
#if defined(_MSC_VER)
__pragma(pack(pop))
#endif

#if defined(_MSC_VER)
#define get_unaligned(ptr) ***
#else
#define get_unaligned(ptr) ***
#endif

#if defined(_MSC_VER)
#define UINT_TO_

[2021-10-05 08:50] XanaduAPI commented on #162
Maybe we can help the author complete the cmake compilation chain?
If the author permits.

[2021-10-08 12:51] XanaduAPI commented on #162
https://github.com/libimobiledevice-cmake/libplist

I have a basic version of MSVC cmake, and other platforms have not been built yet

[2021-10-08 12:54] XanaduAPI commented on #189
I don't think they will consider that there will be 32-bit in 2038.

[2021-10-11 01:08] XanaduAPI commented on #162
Thank you for the link. I'll take a good look.

[2021-10-13 12:42] rickmark opened #196 "Cython bindings fail to compile with version 3.9 due to libintl"
This is an issue I've seen before, but just making an issue to track before correcting it.

Somewhere along the way Python broke out some internationalization components from `libpython` and when using Autotools you must ensure you link to all the libraries that Cython tells you to, not just `-lpython` now.  For discoverability the error looks like this:

[code]

Fix will be applied by changing th

[2021-10-29 19:43] RevStevieD opened #198 "Libimobiledevice/libplist"

[2021-10-29 23:08] #198 closed

[2021-11-11 18:23] OznOg commented on #162
I also wrote a draft https://github.com/OznOg/libplist/tree/add_cmake but I see that your version is sligltly more complex than mine; I don't have a windows machine to test mine on windows (yours does not build on linux); maybe we can share some parts?

[2021-11-12 08:57] xanadu-lee commented on #162
@OznOg
I do cross platform work.
But I mainly debug on windows.
Therefore, I made the cmake version to check the problem.
If you need any information on windows, I'd be happy to provide it.

[2021-11-12 09:08] xanadu-lee commented on #162
@OznOg
One thing is, if you make cmake version, you should be compatible with pkgconf.
Also, you need to build Autoconf related files. Because the author uses some macros to judge the code compilation and relies on config.h .

[2021-11-12 09:50] OznOg commented on #162
That was one of my questions :); BTW, is ising pkg-config mandatory if I provide a PlistConfig.cmake file (detection for cmake)?

I did not understand this one: if moving to cmake, no need for autoconf stuff anymore, isn't it?

[2021-11-12 09:58] xanadu-lee commented on #162
@OznOg
If you do not provide pkgconf, others can only use cmake.
Moreover, there are some dependencies in the code on config.h . Therefore, platform difference check is required.
for example:
https://github.com/libimobiledevice/libplist/blob/ebf2fdb938c755026668c8418da290e6870c1987/src/time64_limits.h#L32
https://github.com/libimobiledevice/libplist/blob/1f6cb66777c0e33ce25dff5cd98f46102451f927/sr

[2021-11-12 10:08] neheb commented on #162
meh. meson defaults to pkgconf.

[2021-11-12 10:36] OznOg commented on #162
fair enough, I'll have a look to this

[2021-11-12 10:40] xanadu-lee commented on #162
The author mainly uses Autoconf
So I'm not sure if he will use more conditional compilation in the future.
Check as many configurations as possible, and the check can also be copied and used directly in other projects.

[2021-11-12 10:48] OznOg commented on #162
But is there a will to *move* from autotools to cmake or not?
I really think that having 2 build chains to maintain is a pain, so if the project wants to keep autotools eventually, I think that writing cmake files (or meson) is purely a bad idea.
Let there be clear about it, better give it up now than when a lot of work is done already :)

[2021-11-12 10:54] xanadu-lee commented on #162
I agree with this statement.
It mainly depends on what the @nikias  thinks.
Personally, I think cmake or meson is much better than Autotools.
Many large projects now support cmake, which is really convenient and easy to debug (especially on MSVC).
Moreover, the cmake version I built is only used to check the memory value when there is a problem.

[2021-11-13 16:15] OznOg opened #202 "Modernize C++ (>=14)"
Using modern C++ features (smart pointer, delegating constructors, auto, etc...) could make the code more robust and readable (less code)

What about moving to c++14 and above?

[2021-11-15 01:25] xanadu-lee commented on #202
I don't think your proposal will pass :)

[2021-12-10 13:30] jagdish24 commented on #188
@James-Hudson3010  Have you found any solution yet? I am getting same.

[2021-12-22 11:09] rickmark opened #204 "`libplist` will not build with Python 3.10 due to `distutils` deprecation"
Our current autoconf interprets the `distutils` deprecation as a failure when building with 3.10

Fix is to use 3.9 or to fix autotools to ignore the deprecation

[2021-12-23 10:38] LangeZhao commented on #188
try
`export PYTHON=python3 `
then
`./autogen.sh`

[2022-01-20 07:35] Fidetro opened #206 "How to compile x86 architecture with M1?"
I try:
[code]
That generated for the arm64 architecture.
Is there a way to generate x86 architecture on M1? thanks

[2022-01-20 08:59] nikias commented on #206
Have you tried to set CFLAGS?
./autogen.sh CFLAGS="-arch x86_64"
or if you want a fat binary that works on both architectures:
./autogen.sh CFLAGS="-arch arm64 -arch x86_64"

[2022-01-20 14:38] Fidetro commented on #206
@nikias Sorry to bother you again,it not worked.
If `export PYTHON=python3`,`./autogen.sh` it work
However, when compiling x86, the following error occurs.
[code]

config.log
[code]
I'm not sure if the cython link is causing the error.
Because initially there was a warning that cython wasn't installed, and then I installed Cython version 0.29.26

[2022-01-20 17:05] nikias commented on #206
This is how it is compiled through github actions:
https://github.com/libimobiledevice/libplist/blob/master/.github/workflows/build.yml#L53-L77

[2022-01-20 17:54] Fidetro commented on #206
it worked! thank you!🎉

[2022-01-20 17:54] #206 closed

[2022-02-07 09:04] nikias commented on #196
Merged #197.

[2022-02-07 09:04] #196 closed

[2022-03-03 16:24] L1ghtmann opened #207 "`plistutil` fails to convert NextSTEP and single-line plists to binary"
First off, I want to thank you for this project and libimobiledevice in general. Time and time again I find myself using a library or tool from libimobiledevice and your hard work is greatly appreciated!

---
**The issue:**
Recently I added support for `plistutil` in an xml/plist->bplist [wrapper script](https://github.com/L1ghtmann/theos/blob/pr/bin/convert_xml_plist.sh) I was working on and noti

[2022-03-03 17:08] L1ghtmann commented on #207
Gotcha. Appreciate the response!

[2022-04-15 10:29] Schlaubischlump commented on #191
Take a look at my profile. I made a swift wrapper for libplist. Its called [CPlist](https://github.com/Schlaubischlump/CPlist). I do not plan to maintain it, but you can fork it. Your problem is, that you must not include C++ header files in your swift module. Swift only supports plain C. That means, symlink plist.h to the include folder of the swift module and ignore all other headers. Only compi

[2022-04-15 11:15] nikias commented on #191
@zhuamaodeyu see @Schlaubischlump's response.

[2022-04-15 11:15] #191 closed

[2022-04-26 13:18] TianBro opened #208 "configure error<Thanks for reply>"
download libplist-master.zip ，then ./autogen.sh :
configure: error : PACKAGE_VERSION is not defined. Make sure to cnfigure a source tree out from git or that .tarball-version is present

[2022-06-10 10:32] xdeng opened #209 "It is recommended to add a function void dict_sort(plist_t pl)"
[code]
similar to this

[2022-06-14 20:44] dnicolson commented on #155
Closing due to macOS no longer including Python and Homebrew no longer supporting Python 2.

[2022-06-14 20:44] #155 closed

[2022-06-23 14:23] NinjaCheetah opened #211 "Build fails if there's a space in the path to your current directory"
Output:
[code]
Directory was named "Command Line Tools". Renamed it so there's no space which fixes it but I'm submitting this anyway in case it's something that can be fixed.

[2022-08-28 21:14] sen0rxol0 commented on #154
ld: warning: ignoring file ../libcnary/.libs/libcnary.a, building for macOS-x86_64 but attempting to link with file built for macOS-x86_64
Undefined symbols for architecture x86_64:
  "_node_first_child", referenced from:
      _compare_plist in plist_cmp.o
  "_node_next_sibling", referenced from:
      _compare_plist in plist_cmp.o
ld: symbol(s) not found for architecture x86_64
clang: error: lin

[2022-08-28 21:43] sen0rxol0 commented on #154
i've found out that brew uses: `autogen.sh --disable-dependency-tracking --disable-silent-rules --without-cython` + --prefix
but make does fail
fixed idevicerestore issue by reinstalling libplist with brew: `brew install --HEAD libplist`

[2022-09-09 19:54] sen0rxol0 commented on #154
issue might be solvable with: `./autogen.sh --without-cython --enable-static --disable-shared CFLAGS="-fPIC" CXXFLAGS="-fPIC"`

[2022-10-03 14:09] rpayne381 opened #213 "libplist fails with newer gcc.exe as the -V switch is no longer available"
Building libplist on windows with msys2 shows the following error. i beleive -V is now -v

gcc version = gcc version 9.3.0 (Rev2, Built by MSYS2 project)

[code]

[code]

[2022-10-03 14:15] nikias commented on #213
We don't specifically call gcc -v or -V, only when bulding with fuzzers we call `$(CC) --version`. I assume this comes from autotools (most likely autoconf) instead.

[2022-10-14 12:33] tho1 opened #214 "compiling question .dep/node.Tpo"
Hi,

I am trying to build the libplist library, and it emits the error

[code]

Modified the libcnary/makefile to turn on tracing for libtool line 228 to help debugging.
[code]

Rerun make and got the following

[code]

Checked the directories
[code]

Did I miss a step to compile node.Tpo?  Thanks in advance.

[2022-11-08 07:35] Ren-Qan commented on #188
try
 `./autogen.sh CFLAGS="-arch arm64 -arch x86_64 -mmacosx-version-min=10.11" --without-cython`